[2015-07-12 21:11] m1ci opened #1 "commit the code to the repo"

[2015-07-12 21:12] m1ci opened #2 "integrate the ONLD dataset"
ONLD - it can be downloaded from http://www.lib.ncsu.edu/ld/onld/downloads/ONLD.ntriples but the file contains errors and is not regular RDF. I cleaned it manually and the clean version can be downloaded from http://freme.aksw.org/datasets/ONLD-clean.nt.

Note that ONLD contains organizations and it can have some overlaps with the `centres` dataset which can be downloaded from here http://202.45.1

[2015-07-12 21:13] m1ci opened #3 "integrate the ORCID dataset"
ORCID - contains authors/creator/contributors - Martin is working on this dataset. @nilesh-c , please contact Martin about the status of the ORCID to RDF conversion and then integrate it in FREME NER.

The ORCID RDF dataset can be downloaded from here http://freme.aksw.org/datasets/orcid/

When indexing you need to index the `foaf:name` and `rdfs:label` - however there is an issue with this, lets

[2015-07-12 21:14] m1ci opened #4 "integrate the VIAF dataset"
VIAF - Virtual International Authority File - you can download the data from the AgroKnow triple store http://202.45.139.84:10035/catalogs/fao/repositories/centers
but it seems to there the whole VIAF dataset loaded (only 17,374 statements). @nilesh-c : you need to index the http://schema.org/name props in the FREME NER.
The full VIAF dataset can be downloaded from this page. There is link to the

[2015-07-13 11:38] m1ci opened #5 "integrate the Geopolitical ontology"
The Geopolitical ontology can be dowloaded from here http://www.fao.org/countryprofiles/geoinfo/geopolitical/resource/
The actual download link is http://www.fao.org/countryprofiles/geoinfo/geopolitical/data

When integrating index following properties (there are also lang tags):
- nameOfficial
- nameShort
- nameList

[2015-07-13 12:42] jnehring opened #6 "List hardware requirements of FREME NER"
Please provide us with a list of hardware requirements for FREME NER. We want to rent a server for FREME NER and need to know what kind of server we need. Please make suggestions for the number of cpu cores, the amount of RAM and other parameters that are important.

[2015-07-15 10:21] #5 closed, assigned to nilesh-c

[2015-07-15 10:22] #2 closed, assigned to nilesh-c

[2015-07-21 10:13] m1ci opened #7 "integrate the Global airports dataset"
The dataset has been recently converted to RDF and can be downloaded from https://drive.google.com/drive/u/0/folders/0B8CeKhHCOSqUfm9aMGM0NlF0VDNFa19ldDNLX21sbE9Vc3NQX1NDdnQwYVdXZFlta0RYR28
This datasets is requested by VistaTEC.

[2015-07-22 09:26] jnehring opened #8 "Change redirects"
Please change the redirects of all FREME NER endpooints. Right now it is implemented as a redirect with status code 307 and the Location header. This confuses the API tester (see freme-project/Documentation#31). Please make it a proxy redirect so the FREME broker calls the external service and redirects the output to the browser so the user does not see that it is a redirect.

In case the external

[2015-07-22 12:38] johnmcauley opened #9 "BUG - Bad Gateway request"
Hi all,

Everything is working great but for some reason I get a Bad gateway request with the following text using the following endpoint?. I thought it could the length of the text (or the encoding) but it works fine for longer documents with the same encoding:

Submitted by Bud Meyers on May 15, 2015 - 12:25pm Déjà Vu. And they're still being ignored. Now the Senate just passed fast track for th

[2015-07-22 12:43] johnmcauley opened #10 "BUG Bad gateway request - {"timestamp"=>1437568887834, "error"=>"Bad Gateway", "status"=>502, "exception"=>"eu.freme.broker.exception.ExternalServiceFailedException", "path"=>"/e-entity/freme-ner/documents"}"
Hi guys,

This is actually happening a lot, same problem for the following text:

Submitted by Bud Meyers on July 11, 2015 - 7:07pm Recently former Labor Secretary Robert Reich went on MSNBC's All in with Chris Hayes to comment on Jeb Bush's plan to have people work longer hours and increase their productivity. Hopefully, if Senator Bernie Sanders is elected, he'll recruit Robert Reich to be our L

[2015-07-28 01:48] #8 closed, assigned to nilesh-c

[2015-07-28 12:03] #6 closed, assigned to nilesh-c

[2015-07-28 14:13] jnehring opened #11 "/e-entity/freme-ner/documents prefix Parameter does nothing"

[2015-07-30 08:16] #10 closed, assigned to johnmcauley

[2015-07-30 08:16] #9 closed, assigned to johnmcauley

[2015-08-02 22:36] #4 closed, assigned to nilesh-c

[2015-08-03 12:11] fsasaki opened #12 "various blank nodes for classes in dbpedia dataset"
I took a text from BBC news, see below, and got several entities that have a blank node as class, also see below. Not sure what the reason is.

TEXT FROM BBC:
The Athens Stock Exchange is set to plunge by as much as 20% on Monday when trading finally resumes after a five-week closure, traders have predicted.

The bourse was shut just before the Greek government imposed capital controls at the heig

[2015-08-05 07:44] #3 closed, assigned to nilesh-c

[2015-08-05 11:14] nilesh-c opened #13 "Add descriptions for the remaining datasets eg. ORCID"

[2015-08-15 23:17] #13 closed, assigned to nilesh-c

[2015-08-16 01:22] #11 closed, assigned to nilesh-c

[2015-08-16 01:22] #12 closed, assigned to nilesh-c

[2015-08-18 08:33] m1ci opened #14 "P3: Include confidence scores"
Include confidence scores to the output.
Confidence will be encoded as `itsrdf:taConfidence`

[2015-08-18 08:35] m1ci opened #15 "P3: Deploy FREME NER on the new server"
Deploy the FREME NER on the new server.

[2015-08-18 08:37] m1ci opened #16 "P3: Add a field “name”, “description” to the user generated datasets."
Done, see http://139.18.2.231:8080/api/datasets

[2015-08-18 16:19] m1ci opened #17 "P3: report for the results from the first evaluation of FREME NER"
FREME NER has been integrated and evaluated with Gerbil (http://aksw.org/Projects/GERBIL.html)
Bellow we report the first results from the evaluation.

[2015-08-19 13:08] pheyvaer opened #18 "what does "TotalEntities" mean?"
What does "TotalEntities" mean, when you as for more information about a dataset?
The dataset contains the following `<www.example.com/me> <www.example.com#p> "test" .`

[2015-08-19 13:09] pheyvaer opened #19 "informat ignored"
Whether I pick turtle/n-triples/n3 the adding the following dataset will not result in an error, even if the format is not correct.

[code]

[2015-08-19 13:12] pheyvaer opened #20 "view actual content of dataset"
Is there a way of viewing the actual content of the dataset? So we can check if the actual data is added/updated when we use the corresponding methods.

[2015-08-20 09:35] #19 closed, assigned to nobody

[2015-08-21 08:09] pheyvaer opened #21 "error when body content type text/html"
[code]

This is the error when I set the content type to `text/html`. I called the function using the documentation page.

[2015-08-24 13:36] #21 closed, assigned to jnehring

[2015-08-31 12:04] #16 closed, assigned to nilesh-c

[2015-09-03 10:38] #18 closed, assigned to ArneBinder

[2015-09-03 14:34] josauder opened #22 "DELETE and POST /freme-ner/datasets/{dataset-name} HTTP Status Codes"
We ran some Unit tests and got the following Status Codes:

POST: 201 (although we expected 200)
DELETE: 200 (although we expected 204, as documented).

Could you maybe quickly summarize the current state of HTTP status codes for each HTTP  Method for this service?

Thanks

[2015-09-09 12:10] m1ci opened #23 "implement mode parameter"
Implement `mode` parameter which will enable to do just `spotting` or `spotting+linking`
E.g., `mode=spotting,linking`

[2015-09-10 07:43] jnehring opened #24 "Find dataset for big data performance analysis"
* Reasonable size, e.g. 1000 documents (?). A dataset too small does not produce reliable results, a dataset too big is not practical
* For start all documents are in English. Would be nice to have to be able to measure and compare speed in other languages also
* statistics about the dataset
    * Amount of words in total / each document
    * Size of dataset in MB in total / each document

[Minut

[2015-09-10 07:44] jnehring opened #25 "Install FREME NER on freme-worker"

[2015-09-10 07:52] #25 closed, assigned to nilesh-c

[2015-09-10 07:53] #17 closed, assigned to m1ci

[2015-09-10 07:59] #20 closed, assigned to nobody

[2015-09-10 08:05] jnehring opened #26 "Problem with global airports dataset"
I tried out global airports dataset. This query

[code]

produces this output

[code]

So the two airports in the text are identified as airports but the class is empty and there is no link.

[2015-09-10 08:06] #7 closed, assigned to nilesh-c

[2015-09-10 08:08] jnehring opened #27 "Improve linking part of FREME NER"
* Derived from [Specification of FREME 0.4](https://docs.google.com/document/d/1djp_pkUiAbTaGB8IrXckS_Ngz1j6HqPb3erepYn_htA/edit#), section e-Entity
* Please document your plans here before implementing this task.

[2015-09-10 08:19] jnehring opened #28 "Make FREME NER spring ready for inclusion in broker"
Waits for https://github.com/freme-project/freme-ner/issues/1

[2015-09-10 08:20] jnehring opened #29 "Introduce configuration options for FREME NER"
waits for #28

[2015-09-10 08:21] jnehring opened #30 "Convert Statbel dataset to LOD"

[2015-09-10 08:22] jnehring opened #31 "Convert CORDIS dataset to LOD"
https://open-data.europa.eu/en/data/dataset/cordisfp7projects

[2015-09-10 08:23] jnehring opened #32 "Register our new datasets on datahub.io"

[2015-09-11 11:30] jnehring opened #33 "FREME NER German crashed?"
This call causes an error 502 - Bad Gateway:

[code]

It works when I set language to `en`.

[2015-09-18 10:39] m1ci opened #34 "re-index DBpedias by not indexing disambiguation pages"
Currently, we index any label-URI pairs, however some pairs point to disambiguation pages. This issue https://github.com/freme-project/e-Entity/issues/49 a results from this.
We need to re-index DBpedias by removing the disambiguation pages.

To distinguish whether URL is disambiguation page or not we can use the DBpedia disambiguation pages dataset http://downloads.dbpedia.org/2015-04/core/disamb

[2015-09-18 14:41] #33 closed, assigned to jnehring

[2015-09-21 09:06] #15 closed, assigned to nilesh-c

[2015-09-21 09:06] #26 closed, assigned to jnehring

[2015-09-22 15:41] #1 closed, assigned to nilesh-c

[2015-09-23 07:25] #22 closed, assigned to ArneBinder

[2015-09-23 14:04] jnehring opened #35 "Exclude entities with length of one character"
We had the idea to exclude links to DBPedia for entities with length 1. We experienced many wrong links to entities like `B`, `.`, `(` and with this strategy we could eliminate all of these wrong links. I can also hardly think of a useful entity that has length one.

This is only a suggestion. Please dont implement it right away in FREME 0.4.

It might be useful to introduce a parameter to switch

[2015-09-28 09:02] jnehring opened #36 "Idea for domain specific topic detection"
I have the following idea for domain specific topic detection:

To perform a domain specific topic detection, a user first creates his dataset / taxonomy. This is in SKOS format. Then FREME NER performs entity linking against the taxonomy. The taxonomy has properties like `skos:concept` or maybe `rdf:type`. These link each entity against a set of categories. Then we can use the same algorithms tha

[2015-10-01 13:06] m1ci commented on #35
there are several options on how we can implement this:
1) black lists of entity mentions
2) black lists of regex filters - I believe with regex we can filter out also entities with length one

[2015-10-05 08:20] m1ci commented on #14
Thanks for reporting this bug. The confidence scores have been fixed. They represents the level of confidence a surface form being correctly recognized as a named entity.

[2015-10-05 09:43] m1ci commented on #14
please check and close.

[2015-10-05 09:44] m1ci commented on #23
the `mode` param has been also implemented in e-Entity. Please check and close.
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Diego+Maradona+is+from+Argentina.&outformat=turtle&language=de&dataset=dbpedia&mode=spot,link

[2015-10-05 14:22] jnehring commented on #23
I tested it and it works fine. Please provide doumentation: https://github.com/freme-project/Documentation/issues/84

[2015-10-05 14:22] #23 closed

[2015-10-05 14:25] jnehring commented on #14
It works fine. Nice work!

[2015-10-05 14:25] #14 closed

[2015-10-05 14:31] jnehring opened #37 "Bug in NER?"
This might be a bug in FREME NER. NER on text `Welcome to Turin  It is the most important city in Italy, next to Rome and Florence.` produces three entities. NER on text `Welcome to Turin! It is the most important city in Italy, next to Rome and Florence.` produces only one entity. The difference is the `!` after `Turin`.

This looks like a bug to me.

http://api.freme-project.eu/0.3/e-entity/frem

[2015-10-05 14:50] m1ci commented on #37
Thanks for reporting, @nilesh-c will look at it.

[2015-10-09 08:52] jnehring opened #38 "Exchange FREME NER database to Hibernate"

[2015-10-09 08:57] jnehring commented on #32
Which datasets are missing?

[2015-10-09 08:59] m1ci commented on #32
none, after we have cordis converted, we add also cordis.

[2015-10-09 09:10] #30 closed

[2015-10-09 09:10] jnehring commented on #32
Ok then lets close this issue and handle the registration of in datahub in #31

[2015-10-09 09:10] #32 closed

[2015-10-13 07:21] jnehring opened #39 "local library in pom.xml"
gerbil.nif.transfer-1.1.0.jar should be included as local dependency. Right now you have to run `mvn initialize` before the maven build.

This setup is not compatible with maven standard and therefore not compatible to Jenkins.

[2015-10-13 10:41] jnehring opened #40 "Install 2nd Solr Server on freme-worker"

[2015-10-13 15:18] jnehring opened #41 "Berlin is not recognized"
"Welcome to Berlin" does not recognize Berlin anymore. This used to work.

[code]

produces

[code]

The problem occurs on freme-live.

[2015-10-13 18:02] m1ci commented on #41
thanks for reporting! We found the cause for this bug, will be fixed soon.

[2015-10-14 07:29] jnehring commented on #28
finished

[2015-10-14 07:29] #28 closed

[2015-10-14 07:29] jnehring commented on #29
done

[2015-10-14 07:31] jnehring commented on #29
Spring configuration is added to FREME NER but it is not yet used by FREME NER.

[2015-10-14 07:33] jnehring opened #42 "Install two FREME NER instances on freme-worker"

[2015-10-14 07:34] jnehring opened #43 "Setup Jenkins to reinstall FREME NER on freme-worker"

[2015-10-14 07:38] m1ci commented on #42
this is done

[2015-10-14 08:05] jnehring commented on #42
We need two versions - one for live and one for dev. This is done also?

[2015-10-14 08:06] m1ci commented on #42
Ah, this wasn't specified.

No.

[2015-10-14 12:53] m1ci opened #44 "quality of enrichments benchmark"
This issue will summarize the results from the benchmark

[2015-10-14 15:21] m1ci commented on #27
This requires more work and will not be part of FREME 0.4.

[2015-10-14 15:21] #27 closed

[2015-10-14 15:23] m1ci commented on #37
seems this bug also influences https://github.com/freme-project/freme-ner/issues/41

[2015-10-14 15:35] m1ci commented on #43
how are we going to separate the FREME NER instances used for FREME live and dev? Is freme-workers going to host only instances for FREME dev or also FREME live? Also, where the instances will run? 2 on freme-workers, 2 on freme-live or freme-dev? What are the plans for the setup?

[2015-10-14 19:32] fsasaki commented on #27
@m1ci , the 0.4 specification just refers to this issue and the other way round. Can you give an idea of what work is required and what the time frame is? E.g. FREME 0.5 or later?

[2015-10-15 07:25] jnehring commented on #27
We discussed to move this issue to FREME 0.5 when @nilesh-c was in Berlin. Unfortunately there is only a few days left for developing FREME 0.4 and too many features in FREME NER for these few days.

[2015-10-15 07:29] jnehring commented on #43
On freme-worker we will install freme-ner and all its components twice, once for freme-dev and once for freme-live. So there will be two SORL servers running on different ports and two FREME NER instances running on different ports. Also we will have two folders for the stanford NER models. So these two instances are totally separated except for the server they run on.

This issue is about to rein

[2015-10-15 08:33] m1ci commented on #43
OK, but FREME live and dev will use same instances of FREME NER?

[2015-10-15 08:43] jnehring commented on #43
No we will have two separate instance of FREME NER on freme-worker. One for live and one for dev.

[2015-10-15 08:50] m1ci commented on #43
So, the FREME Cloud will use only one FREME NER instance for dev and live, so no load balancing, or?

[2015-10-15 08:55] jnehring commented on #43
Yes right. I do not think that we will have time to really scale it out to multiple servers within freme 0.4 development time. Now we provide the technical possibity for scaling out and later on we will do it.

[2015-10-15 09:02] m1ci commented on #43
OK, thanks for clarification, makes sense!

[2015-10-15 10:01] jnehring opened #45 "Incompatibility of Spring Cloud and SolrJ"
In the cloud branch in the broker I created a simple REST endpoint that uses the FREME NER library that we developed together. But it does not work.

So I run eu.freme.broker.FremeNERStarter and it starts a REST API with FREME NER. Then I call
[code]

The result is that the java process terminates. This is critical behaviour. Until now we never had an error that crashes the whole system. We only h

[2015-10-15 11:22] jnehring commented on #45
To reproduce the error:

* git clone broker and "cloud" branch
* install broker - it will pull in freme-ner dependency from our maven repository this is the state of "javaapi" branch
* then start broker with main class `eu.freme.broker.FremeNERStarter`

Then do above api call.

[2015-10-15 15:14] nilesh-c commented on #37
#41  and this are owing to the same problem. I introduced this bug while coding up the improved confidence scores. Something to do with tokenising text and getting it back together. Will fix over the weekend.

[2015-10-15 15:28] jnehring commented on #45
Old versions of spring boot are not compatible with SolrJ 5:

https://jira.spring.io/browse/DATASOLR-228
https://jira.spring.io/browse/DATASOLR-232

I tried to update Spring Boot but I did not succeed. It is closely coupled to Spring Cloud which uses an older version of Spring Boot.

@nilesh-c is it possible to downgrade the SolrJ Client to Solr 4.7.2 ?

[2015-10-16 11:34] jnehring opened #46 "FREME NER strange behaviour"
I tried FREME NER with longer text (from the [wikipedia article about Frank Zappa](https://en.wikipedia.org/wiki/Frank_Zappa)).

POST http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text with text
[code]

FREME NER returns three entities:
* dbpedia:Frank_Zappa
* dbpedia:Maryland
* dbpedia:Baltimore

When I delete the first sentence of the t

[2015-10-19 10:54] jnehring opened #47 "Input validation fails"
This cURL

[code]

with [this test.txt](https://github.com/freme-project/e-Entity/files/15911/test.txt) produces "Internal Server Exception". The problem is that the submitted input is empty because of `&input=&outformat=...`.

This should produce a "Bad Request" and proper error message.

[2015-10-19 10:56] m1ci commented on #47
should this exception be thrown while validating the params using NIFParameterSet?

[2015-10-19 11:01] jnehring commented on #47
True. I will change the code.

[2015-10-19 11:09] xFran commented on #47
Still no entities spotted removing input=& with the same text.

[code]

[2015-10-19 11:44] xFran commented on #47
I'm assuming that this a valid cUrl call

[code]

Running the test against the test.txt file I get no entities.

Now,  if I delete the first paragraph from the text

``
High quality global journalism requires investment. Please share this article with others using the link below, do not cut & paste the article. See our Ts&Cs and Copyright Policy for more detail. Email ftsales.support@ft.com to buy

[2015-10-19 13:11] jnehring commented on #47
Can you please move the discussion about getting no entities to a new GitHub issue? We should not mix up different topics in the same discussion. This issue is about a request that produces the answer "BadRequest".

[2015-10-19 19:49] fsasaki opened #48 "entities not recognized for the same sentence in different input"
I submitted the following sentence two FREME NER

Hundreds of thousands of migrants, many from Syria, Africa and Afghanistan, have been making their way from Turkey to the Balkans in recent months, in a bid to reach Germany, Sweden and other EU states.

The first request (see attachment request1.txt) had this sentence as part of an HTML file taken from http://www.bbc.com/news/world-europe-34576045

[2015-10-20 07:38] jnehring commented on #48
Looks similiar to #46

[2015-10-20 07:51] jnehring commented on #29
@nilesh-c is this done? Can you please document the configuration options in http://api-dev.freme-project.eu/doc/knowledge-base/configuration-options.html

[2015-10-20 08:01] jnehring commented on #40
Is this done? If yes please document the installation of both Solr Servers in [FREME Server Infrastructure](https://docs.google.com/document/d/1PcfGykRqBE2QmH2kuVR8rncTyN4W6o9ZkkfTVz7iPrQ/edit#). Report the ports they run on and include links to management web uis.

[2015-10-20 11:56] m1ci commented on #29
This should be already implemented in the java-api branch with https://github.com/freme-project/freme-ner/commit/8a3274900c7e53e3bb02b8014dc390415e6868ef

[2015-10-20 12:22] m1ci commented on #37
fixed with https://github.com/freme-project/freme-ner/commit/eae252d765f680c7622dcda953e6cf69371cd3ac
Check http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Welcome%20to%20Turin!%20It%20is%20the%20most%20important%20city%20in%20Italy,%20next%20to%20Rome%20and%20Florence.&outformat=turtle&language=en&dataset=dbpedia

[2015-10-20 12:26] m1ci commented on #41
We found out that the bug wasn't related to this issue. If you formulate this as a regular sentence ending with dot sign (.) then Berlin is correctly recognized. Actually the trained model was build on longer and correctly formulated sentences. This for example works: "Welcome to the city of Berlin."
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Welcome%

[2015-10-20 12:30] m1ci commented on #46
fixed with https://github.com/freme-project/freme-ner/commit/eae252d765f680c7622dcda953e6cf69371cd3ac

The results are 69 spotted entities.
Check

    curl -v -d @text.txt -X POST "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=spot,classify" -H "Content-Type: text/plain; charset=UTF-8"

Where `text.txt` is the attached document: [text.txt](ht

[2015-10-20 12:37] m1ci commented on #48
Thanks for reporting! Fixed with https://github.com/freme-project/freme-ner/commit/eae252d765f680c7622dcda953e6cf69371cd3ac

Note that the entity spotting models were trained and work well on "clean" content - content without markup, no many blank spaces between the tokens, etc. We assume that FREME NER clients clean their content before they submit it to FREME NER. This is already understood and

[2015-10-20 13:29] jnehring commented on #46
I tested it and it works. Thanks for the bugfix.

[2015-10-20 13:29] #46 closed

[2015-10-20 13:38] jnehring opened #49 "Improve NER on short text"
The Berlin entity in `Welcome to Berlin` is not recognized. When the sentence ends with a dot, then the entity is recognized. Thats because Stanford NER was training on "normal" text with dots. Maybe we can find a workaround like inserting dots at the end of short text that does not have `.`, `!`, `?` or similar.

[2015-10-20 13:38] jnehring commented on #41
Thanks for investigating on this. I move this to #49

[2015-10-20 13:38] #41 closed

[2015-10-20 13:39] jnehring commented on #37
I tested it and it works. Thanks for the update.

[2015-10-20 13:39] #37 closed

[2015-10-20 14:03] fsasaki commented on #48
Great, thank you! About the clean up: that is OK in the request2, since the content type is text/html. That evokes e-Internationalisation (Okapi) and in that way FREME-NER receives the clean content. I'll then close this bug.

[2015-10-20 14:03] #48 closed

[2015-10-27 14:02] jnehring commented on #42
Is this task finished?

[2015-10-27 14:03] m1ci commented on #42
yes

[2015-10-27 14:03] jnehring commented on #43
This waits for #106, #63

[2015-10-27 14:06] m1ci commented on #40
this is done

[2015-10-27 14:12] m1ci commented on #43
what is #106? and #63 is https://github.com/freme-project/technical-discussion/issues/63?

[2015-10-27 14:33] jnehring commented on #47
The problem does not occur anymore. Above API request works as expected.

[2015-10-27 14:33] #47 closed

[2015-10-27 14:46] jnehring commented on #43
#63 is wrong. I dont find the issue that I wanted to link to. So lets say it waits for freme-project/Broker#106 only.

@m1ci can you click on the link?

[2015-10-27 14:47] jnehring commented on #40
@m1ci did you update the documentation?

[2015-10-27 14:48] jnehring commented on #42
Thanks. Please add some documentation to [FREME Server Infrastructure](https://docs.google.com/document/d/1PcfGykRqBE2QmH2kuVR8rncTyN4W6o9ZkkfTVz7iPrQ/edit#heading=h.88j86kgn2x5n)

* Installation folders of the two instances
* Ports that these instances use

[2015-10-28 09:11] m1ci commented on #42
done

[2015-10-28 09:16] m1ci commented on #40
updated

[2015-10-28 09:18] m1ci commented on #43
yes, I can, thanks

[2015-10-28 10:11] jnehring commented on #42
Thank you

[2015-10-28 10:11] #42 closed

[2015-10-28 10:11] jnehring commented on #40
Thank you

[2015-10-28 10:11] #40 closed

[2015-10-28 18:56] m1ci commented on #24
To summarize, for big data performance analysis ​one can re-use following datasets:

- N3 corpus dataset: http://aksw.org/Projects/N3NERNEDNIF.html
- DBpedia Spotlight dataset: http://www.yovisto.com/labs/ner-benchmarks/data/dbpedia-spotlight-nif.ttl
- KORE 50 dataset: http://www.yovisto.com/labs/ner-benchmarks/data/kore50-nif-2014-11-03.ttl
- Datasets from the OKE challenge: https://github.com/an

[2015-10-29 10:51] jnehring commented on #24
Thank you :)

[2015-10-29 10:51] #24 closed

[2015-11-02 10:25] m1ci commented on #31
Done.
Linked Data Fragments endpoint: http://rv2622.1blu.de:5000/cordis
Dump: http://rv2622.1blu.de/datasets/cordis/

[2015-11-02 10:25] #31 closed

[2015-11-02 10:36] m1ci commented on #31
added also at datahub.io http://datahub.io/dataset/cordis-corpus

[2015-11-02 15:08] m1ci commented on #45
I tried to downgrade FREME NER to Solrj to 4.7.2 but this will require significant changes in the code and also I'm not 100% sure if this will work since this client library is also bound to the actual Solr implementation we are using.
What about upgrading Spring Cloud and Spring Boot? - It seems Sprint is still not compatible with SolrJ 5.xxx? or?

[2015-11-02 15:45] jnehring commented on #45
Lets leave this topic for now. The information that a downgrade of SolrJ is difficult also is enough right now.

[2015-11-09 08:48] m1ci commented on #44
Dataset  | Language | Experiment type | Micro F1 | Micro P | Micro R | Macro F1 | Macro P | Macro R | Avg millis/doc | Avg entity/doc
------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | -------------
DBpedia Spotlight  | English | Recognition, weak match | 0.9444 | 0.9444 | 0.9444 | 0.9374 |

[2015-11-20 12:59] jnehring opened #50 "HTTP authentication for Solr instances"

[2015-11-20 13:22] jnehring commented on #38
@ArneBinder already prepared this task and created database entities and a repository class in FREMECommon repository.

[2015-11-23 08:34] jnehring opened #51 "Cleanup pom.xml"
The pom.xml of FREME NER is very long and I do not know what functionality is inside. There is a problem with the packaging which is set to "pom". We need "jar" packaging.

When I set packaging to "jar" then I see some error message in pom.xml.

So the pom.xml needs to be debugged. I assume that we can delete some parts.

[2015-11-23 08:54] jnehring opened #52 "Make FREME NER a Java API"
There is an implementation in https://github.com/freme-project/freme-ner/tree/javaapi

I am not sure if it is finished. I dont know if all features are covered by the Java API. At least it needs to be merged in the master branch.

Some unit tests would be really useful. They help finding errors and also document how to use the Java API.

[2015-12-01 09:30] jnehring commented on #50
This task will be implemented by @nilesh-c as discussed in [2015-11-26 telco on FREME NER](https://docs.google.com/document/d/1KbWPOrLbz_B3UV9fyMj1LVuwQDHhdMcXGmSpF22JYio/edit#)

[2015-12-01 09:31] jnehring opened #53 "Add dataset upload script"
Please add the dataset upload script to FREME NER repository. Also add a short description including example call to the readme file.

[2015-12-04 14:59] jnehring commented on #45
In FREME 0.5 we will not use Spring cloud. Therefore the incompatibility does not occur and we do not need to solve this problem in FREME 0.5.

[2015-12-04 15:03] jnehring opened #54 "Talk to Gerbil developers"
In [2015-11-26 call on FREME NER](https://docs.google.com/document/d/1KbWPOrLbz_B3UV9fyMj1LVuwQDHhdMcXGmSpF22JYio/edit?usp=drive_web) @m1ci said he will ask the developers of Gerbil if they can release the parts of Gerbil that we use under an open source license. Then we can copy these codes.

When we can do this we would solve #39 and https://github.com/freme-project/technical-discussion/issues/8

[2015-12-10 13:57] jnehring opened #55 "FREME NER fails"
FREME NER on freme-dev does not work any more. On freme-live it still works.

You can use this URI to verify it is crashed:

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Welcome%20to%20Berlin!&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all

https://github.com/freme-project/Broker/issues/146 indicates the problem is that freme-ner crashed on freme-

[2015-12-10 14:54] m1ci commented on #55
fixed. Sorry for the inconvenience.

[2015-12-10 14:54] #55 closed

[2015-12-11 07:22] jnehring opened #56 "OOM in FREME NER"
The crash in https://github.com/freme-project/freme-ner/issues/55 was caused by an OutOfMemory exception of FREME NER on freme-worker. This issue is a reminder to further examine this.

* How much RAM is configured for FREME NER?
* We should increase maximum heap size (-Xmx) for FREME NER.
* Maybe we can save memory when freme-dev loads only english models and freme-live loads all models for named

[2015-12-14 13:57] jnehring opened #57 "Odd annotation"
This curl

[code]

([test.txt here](https://github.com/freme-project/freme-ner/files/61247/test.txt)) produces an odd annotation:

[code]

* taConfidence is NaN - this does not make sense
* beginIndex and endIndex are both 0 - does not make sense either

[2016-01-05 12:49] jnehring opened #58 "Create dataset does not work on freme-dev"
This CURL
[code]

produces

[code]

Also the unit tests fail (see attachments).

[error.txt](https://github.com/freme-project/freme-ner/files/78404/error.txt)

Yesterday I reloaded the Solr Core of freme-dev. Since the reload I there are many error reports in the logfiles in the Solr Admin UI. I reloaded the core in order to empty the cache (see https://github.com/freme-project/load-testing/issues

[2016-01-08 10:44] pheyvaer commented on #49
It would be useful for the CKEditor if this gets fixed.

[2016-01-12 14:40] PeterBourgonje opened #59 "character encoding bug"
I'm having some issues with character encoding. My input is in utf-8, but the result from the following curl doesn't contain the same number of characters as my input:

curl -v -d @C:\Users\pebo01\Desktop\debug.txt "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=turtle&outformat=turtle&language=de&dataset=dbpedia&mode=link" -H "Content-Type:"

debug.txt is attached.

[2016-01-12 15:01] nilesh-c commented on #58
I'm not familiar with ```application/json```. @m1ci could you check if the input looks OK here or not? I tried creating a test dataset (with whole of global airports in it). It timed out, but the dataset got created with about 1/3rd of the entities in them. The solr logs aren't too helpful either. Will take another look in the evening.

[2016-01-12 21:04] nilesh-c commented on #41
As I have said before, this is not because of the training or the model itself. This was a bug introduced at the time of implementing confidence scores. This is fixed on ```javaapi3-enhack``` now. That branch has a lot of other stuff (including the Java API and Hibernate code) and will be merged into master soon.

[2016-01-12 21:06] nilesh-c commented on #49
Fixed this on the ```javaapi3-enhack``` branch. Will be able to test this once the new REST API is up.

[2016-01-13 08:58] m1ci commented on #58
@jnehring the input seems weird. Is it valid RDF?

@nilesh-c the global airports is quite small with about 5 MB. It should be processed successfully. Also, indexing just 1/3rd of the entities is not OK. please check this.

[2016-01-13 13:23] jnehring commented on #58
I copied the CURL generated by the API tester: http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/createDataset. It dsplayed the wrong data, actually I send this RDF to FREME:

[code]

[2016-01-13 16:01] nilesh-c commented on #58
@jnehring the RDF you pasted is wrong (spaces between URI and >). Maybe try this file:
[onld.txt](https://github.com/freme-project/freme-ner/files/89132/onld.txt)

This request works:
curl -d@onld.txt -X POST "http://rv2622.1blu.de:8080/api/datasets?name=testdataset_ondl&properties=http%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23prefLabel%2Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23a

[2016-01-14 15:06] ghsnd opened #60 "Types not consistent"
See also freme-project/Semantic-Book#25

In the following example, **Patisia** (a neighbourhood of Athens) is detected as a `Location` *and* a `Person`.

**Text:**

*The municipality of Athens, the city centre of the Athens Urban Area, is divided into several districts: Omonoia, Syntagma, Exarcheia, Agios Nikolaos, Neapolis, Lykavittos, Lofos Strefi, Lofos Finopoulou, Lofos Filopappou, Pedion Areo

[2016-01-20 12:56] m1ci commented on #60
the types http://nerd.eurecom.fr/ontology#Person and http://nerd.eurecom.fr/ontology#Location are not from DBpedia, but from StanfordNER.

[2016-01-20 12:58] m1ci commented on #60
@ghsnd what you want to report is that the types Person and Location are wrong, right?

[2016-01-20 13:03] m1ci commented on #59
thanks for reporting. it seems, along the processing some component is removing the newlines. we need to debug this. stay tuned.

[2016-01-20 13:19] m1ci commented on #54
this issue is solved. the part using Gerbil has been re-implemented and currently there is not dependency on Gerbil anymore.

[2016-01-20 13:39] ghsnd commented on #60
What I wanted to report is that:

* Patisia is a location, not a person. It does not really matter if it's a Stanford or a DBpedia location :)
* The fact that the same entity is recognised as a person as well as a location seems strange.

[2016-01-22 07:28] m1ci commented on #39
this library is no longer used.

[2016-01-22 07:28] #39 closed

[2016-01-22 18:58] nilesh-c commented on #50
@jnehring Instead of complicating this, I propose simply running Solr on localhost (like MySQL) and not exposing it on the public IP. To perform SOLR admin tasks one can use port-forwarding.

This will require a solr restart. Couple minutes.

[2016-01-26 13:01] m1ci commented on #59
Hi Pieter,
we investigated the issue and we found out that this is not issue of the service, neither of FREME NER nor e-Entity, but its a normal behaviour of the cURL client.
According to the cURL spec for the `-d` (`--data`) parameter:

This means that newlines and and returns are removed before sending to the client.

To avoid this behaviour, instead of using `-d` (`--data`) you can use the `--d

[2016-01-26 13:03] m1ci commented on #38
this has been implemented, @nilesh-c please confirm and close this issue.

[2016-01-26 13:04] m1ci commented on #52
this has been implemented - next step is to integrate it the Broker.

[2016-01-26 13:22] PeterBourgonje commented on #59
Hi Milan,
Thanks a lot for the clarification!
That seems to explain the issue with the curl post. Unfortunately I cannot reproduce anything at the moment, because I get a "bad gateway" error with the exact same post as the one above (which produced relevant output before).
Could it be that the service is down temporarily, because of the architecture update? (unfortunately my curl response just say

[2016-01-26 13:28] m1ci commented on #59
Yes! We do last minute updates at the dev API, and only the English version is enabled at the moment. However you can validate it using the FREME production API. Not using the http://api-dev.freme-project.eu/current/ but use the http://api.freme-project.eu/0.4/ endpoint instead.
Try:

[2016-01-26 13:34] PeterBourgonje commented on #59
Yep, great, that works! (at least for the curl part) Any idea how/if I can provide the binary flag to the java code?

[2016-01-26 13:36] m1ci commented on #59
No need to provide the binary flag in Java. The issue we have here is with the cURL client (removing newlines/returns). A Java client should submit the content in its original form.

[2016-01-26 17:27] nilesh-c commented on #38
This has been implemented in https://github.com/freme-project/freme-ner/tree/hibernateprobs/ (this is the only branch that needs to merged to master)

[2016-01-26 17:27] #38 closed

[2016-01-27 17:31] borriellom opened #61 "Linking part: some entities are never filtered"
Some entities (always the same) are never filtered, whatever types or domain I specify.
I used this text [misc.txt](https://github.com/freme-project/freme-ner/files/107025/misc.txt) containig text from different Wikipedia pages.
Find below two example of requests and results.

Request 1
[code]

Response 1
[code]

Request 2
[code]

Response 2
[code]

[2016-01-28 15:18] Katsivelisp opened #62 "NER to return full label from used datasets?"
Hello guys,

I was trying some example calls with the VIAF and ORCID datasets and I think it would be very useful if the service would also include the full labels for the annotated terms returned from the selected dataset each time. For example, sometimes in our case we get author elements like this:

_"Stoitsis, Inst. for Byzantine Research, Athens, Greece"_

The [output](http://api-dev.freme-pr

[2016-01-28 15:28] Katsivelisp opened #63 "Different output for abbreviated terms"
Hello again,

in our case we have many examples of abbreviated terms in author records or abstract elements. If we run the NER service on two written versions of the same entity, we get different results. For example:
- [National University of Singapore](http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=National%20University%20of%20Singapore&informat=text&outformat=turtle&

[2016-02-01 13:42] jnehring opened #64 "FREME NER crashed?"
This API call

curl -X POST --header "Content-Type: text/n3" --header "Accept: text/n3" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Welcome%20to%20Berlin&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all"

produces this result:
[code]
The log says

[code]

Maybe the FREME NER service has crashed?

[2016-02-02 06:57] sandroacoelho opened #66 "Hard coded paths for models"
There is some hard coded paths [here](https://github.com/freme-project/freme-ner/blob/07ec460e1db92c932f1ef4210b00db95782c0d67/src/main/scala/org/elinker/core/api/service/EntityApiService.scala#L23-L30) that should by stored in a properties files.

[2016-02-02 07:02] sandroacoelho opened #67 "Broken link for models"
Hi,
I've tried to download the follow models, but I can get it  through http://freme.aksw.org/datasets/ner-trained-models/wikiner/ (503 - Service Unavailable)

Models:
wikiner-en-ner-model.ser.gz
wikiner-it-ner-model.ser.gz
wikiner-nl-ner-model.ser.gz
wikiner-fr-ner-model.ser.gz
wikiner-es-ner-model.ser.gz
wikiner-ru-ner-model.ser.gz

Could you, please, help me on it?

Thank you in advance.

[2016-02-02 07:17] m1ci commented on #67
Hi Sandro,

it seems the freme.aksw.org is down.
I'll try to fix this by uploading the models somewhere else.

Stay tuned,
Milan

--
Milan Dojchinovski
http://dojchinovski.mk

On Tue, Feb 2, 2016 at 8:02 AM, Sandro <notifications@github.com> wrote:

[2016-02-02 08:53] jnehring commented on #64
Fixed. I think @m1ci restarted FREME NER.

[2016-02-02 13:58] nilesh-c commented on #61
This is expected. Currently type filtering is done using DBpedia types. I have attached the current domains.csv here. It is a configuration file that contains the domain code in the first column followed by a comma-separated list of corresponding DBpedia types.

The problem with the above resources is that they are not linked/disambiguated into any KB URI and therefore don't have sufficient type i

[2016-02-02 14:13] nilesh-c commented on #57
Fixed in dev. Please check and close issue.

[2016-02-02 14:35] m1ci commented on #57
I confirm its fixed - try: `curl -X POST  --header "Content-Type:" --header "Accept: text/n3" -d @text.txt "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?informat=text&outformat=json-ld&language=de&dataset=dbpedia&mode=spot" > out.txt`

[2016-02-02 15:02] Katsivelisp commented on #64
Hey guys, service seems to be down again.

[2016-02-02 15:07] Katsivelisp commented on #64
Nevermind, I guess I reached my limit for today.

[2016-02-02 15:07] #64 closed

[2016-02-02 15:32] jnehring commented on #64
Hey. No you did not reach your limit. We disabled rate limiting on both freme-dev and freme-live

[2016-02-02 16:02] jnehring commented on #57
I tried, I still get the odd annotation:

[code]

[2016-02-02 16:12] m1ci commented on #57
are you using the text you provided
https://github.com/freme-project/freme-ner/files/61247/test.txt
and the curl command I provided in the previous comment?

[2016-02-03 08:14] Katsivelisp commented on #64
Yes, apparently we had some network issues yesterday. Sorry for the false alarm. :)

[2016-02-03 08:36] jnehring commented on #57
Sorry I was testing FREME 0.4 instead of the dev api. When I test freme-dev the problem does not occur. So the bug is solved.

[2016-02-03 08:36] #57 closed

[2016-02-03 13:03] jnehring opened #68 "Create dataset does not work on freme-dev"
Moved from #58

This CURL
[code]

With [this test.txt](https://github.com/freme-project/freme-ner/files/115654/test.txt) produces

[code]

[2016-02-03 13:04] jnehring commented on #58
The CURL I provided has a copy & paste error. The body of the request is the example from the API doc. Now the error message has changed. I move the issue to #68

[2016-02-03 13:04] #58 closed

[2016-02-04 21:15] nilesh-c commented on #68
Here’s what’s happening:

https://github.com/freme-project/freme-ner/blob/master/src/main/scala/org/elinker/core/api/process/Datasets.scala#L116

val d = new DatasetSimple(dataset.name, dataset.description, numEntities)
datasetDAO.save(d)

Note that SOLR indexing works correctly, I have verified that. In the above code, after the new dataset metadata is saved into the database, MySQL creates a row

[2016-02-04 21:17] nilesh-c commented on #68
Bottomline, GET/DELETE requests work. But doing a POST (or creating a dataset) will break things and GET etc. will not work because of the NULL values in the dataset_simple table.. Only way to fix is to go into the MySQL instance (`mysql -u root -p`), use the password from src/main/resources/applicationContext.xml and execute `delete from dataset_simple where name is NULL;`

[2016-02-05 11:40] sandroacoelho commented on #68
HI @nilesh-c , @m1ci

I figure out that  description and name keeps null on DatasetSimple constructor. I did a small refactor and now it works.

Best,

[2016-02-05 14:19] m1ci commented on #68
I just re-deployed FREME NER, but the issue still exists. Am I missing smth here?

Thanks,
Milan

[2016-02-05 15:44] m1ci commented on #68
this is fixed.

[2016-02-05 15:44] #68 closed

[2016-02-09 10:50] fsasaki opened #70 "is freme-ner down?"
This request
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Welcome%20to%20Berlin%2C%20the%20home%20of%20Marlene%20Dietrich.&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all

gives a bad gateway response.

[2016-02-09 12:37] fsasaki commented on #70
working now, sorry for the noise

[2016-02-09 12:37] #70 closed

[2016-02-09 15:16] Katsivelisp opened #72 "Unclear taClassRef in FREME NER with CORDIS dataset"
Hello,

I think we have discussed this issue before with @m1ci. I will try to give a better picture with an example. I'm calling the FREME NER for the following publication abstract with the dataset option set to "**cordis-fp7**":

"_Biodiversity conservation is an urgent task for our society with special attention for grassland areas The EU FP7 research project BIOBIO - INDICATORS FOR BIODIVERSIT

[2016-02-10 08:25] jnehring opened #73 "FREME NER heavy load"
In the last days we experienced some difficulties with FREME NER. Now it runs fine.

During debugging @m1ci assumed that Wripls heavy API consumption lead to the problems. So we asked Wripl and @xFran to slow down the API consumption.

During load testing we did not experience that heavy load crashes FREME NER. But some changes have been made to FREME NER since we did load testing.

@m1ci does thi

[2016-02-10 14:08] m1ci commented on #73
please stay with the current setup and process one document at a time.

[2016-02-10 14:34] jnehring commented on #73
We will examine this further during FREME 0.6

[2016-02-10 14:34] #73 closed

[2016-02-11 10:23] m1ci opened #74 "text causing FREME NER to fail process a document"
Following request doesn't work:

`curl -v "http://rv2622.1blu.de:8081/api/entities?dataset=cordis-fp7&language=en&linkingMethod=SurfaceFormSimilarity1" -d @abstract.txt -H "Content-Type: text/plain; charset=UTF-8"`

where the document is [abstract.txt](https://github.com/freme-project/freme-ner/files/126167/abstract.txt)

If the last word "Latvia" is removed then it works. Weird.

The log of FREME

[2016-02-11 12:19] sandroacoelho commented on #74
I am investigating why the surface forms is arriving empty/none.  Seems to be related with timeouts.

[2016-02-11 14:17] jnehring opened #75 "Support for German in FREME NER live"
This request

[code]

produces

[code]

It works when I set the language to English.

[2016-02-11 15:40] m1ci commented on #75
fixed

[2016-02-11 15:40] #75 closed

[2016-02-12 08:54] m1ci commented on #72
Hi Panagis,
sorry for the late reply.
I answered your question in a separate email. Let me share with the others our conversation:

Because there is low confidence that word/sequence of words being of type LOC/PER/ORG/MISC.​

No, I did not do such analysis. However this is a very valid question. We need to tackle it definitely.

At the moment the types: ​http://nerd.eurecom.fr/ontology#Organizatio

[2016-02-12 10:54] sandroacoelho commented on #74
Bug fixed

[2016-02-12 10:54] #74 closed

[2016-02-15 14:24] jnehring commented on #53
@nilesh-c is this finished? I cannot find the script.

[2016-02-15 14:28] jnehring commented on #56
any update here?

[2016-02-15 14:29] jnehring commented on #50
When we do this then we can no longer access the Solr Web Interface. @nilesh-c do you use the Solr web interface sometimes? When you dont need it then this sounds like a good solution.

[2016-02-15 14:30] #52 closed

[2016-02-15 14:30] jnehring commented on #29
@m1ci @nilesh-c is this done? Can we close the issue?

[2016-02-15 14:31] m1ci commented on #29
done.

[2016-02-15 14:32] jnehring commented on #67
Is this issue fixed? Can we close the issue?

[2016-02-15 14:33] m1ci commented on #67
its fixed

[2016-02-15 14:33] #29 closed

[2016-02-15 14:36] #67 closed

[2016-02-15 15:10] jnehring commented on #54
There is still the gerbil jar in the lib folder. I assume this can be deleted?

[2016-02-15 15:11] m1ci commented on #54
yes, it can be removed.

[2016-02-15 15:14] jnehring commented on #54
done

[2016-02-15 15:14] #54 closed

[2016-02-16 08:30] jnehring commented on #60
These misclassifications happen. We cannot do better then this. So I close this issue.

[2016-02-16 08:30] #60 closed

[2016-02-16 08:30] m1ci commented on #50
I would stay with: HTTP basic auth for access from public IP, no auth for localhost

[2016-02-16 10:33] jnehring commented on #50
+1

[2016-02-17 09:09] pheyvaer opened #76 "ExternalServiceFailedException when processing HTML"
When I do the following curl command I get the `ExternalServiceFailedException`. Can anybody tell we why it is not working for my 'special' case?

`curl -X POST --header "Content-Type: text/html" --header "Accept: text/n3" --data "@SB50
.html" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all"

The file I used is [SB50.zip](https://github.co

[2016-02-17 09:10] m1ci commented on #76
we are re-deploying freme ner.

[2016-02-17 09:16] pheyvaer commented on #76
@m1ci can you let me know when it's up again?

[2016-02-17 09:17] m1ci commented on #76
yes, will do.

[2016-02-17 10:26] jnehring opened #77 "FREME NER crashed"
FREME NER is no longer reachable. I think it has crashed on FREME worker.

http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=de&dataset=dbpedia&informat=text&input=Welcome+to+Berlin!&outformat=turtle

produces

[code]

[2016-02-17 10:28] m1ci commented on #77
we needed to redeploy freme ner in order to solve https://github.com/freme-project/freme-ner/issues/50
Very soon it will up and running again.

[2016-02-17 10:35] m1ci commented on #77
its up and running again.

[2016-02-17 10:38] m1ci commented on #50
I have secured both Solr instances. I had to do following changes:
- Solr dev dashboard at http://rv2622.1blu.de/solrdev/
- Solr live dashboard at http://rv2622.1blu.de/solrlive/

Both dashboards are secured now.

[2016-02-17 10:38] #50 closed

[2016-02-17 10:39] m1ci commented on #76
its up again.

[2016-02-17 10:39] #76 closed

[2016-02-17 10:40] #77 closed

[2016-02-17 10:40] m1ci commented on #72
@Katsivelisp do you need any more support  on this?

[2016-02-17 10:42] m1ci commented on #66
This is handled with https://github.com/freme-project/freme-ner/blob/master/src/main/resources/applicationContext.xml#L31

[2016-02-17 10:42] #66 closed

[2016-02-17 10:44] m1ci commented on #63
Do you want to link perform only linking? You submit name of an entity and ask for a link - in VIAF in this case?

Or, you submit text, and you want to first perform spotting, then linking?

[2016-02-17 10:47] m1ci commented on #62
Actually, you can retrieve this info - the full name - using e-Link.
Or would it be more comfortable for you to get also the name in the FREME NER output?

[2016-02-17 10:47] m1ci commented on #61
Nilesh's comment solves the issue.

[2016-02-17 10:47] #61 closed

[2016-02-17 10:48] m1ci commented on #59
the issue has been identified and related to curl. Closing the issue now. If needed more support, feel free to reopen it.

[2016-02-17 10:48] #59 closed

[2016-02-17 10:53] m1ci commented on #56
Both, freme ner live and dev are configured (-Xmx) configured with 32GB.

Lets leave it as it is now. If the problem occurs again, we can consider loading only the english models at the dev instance.

[2016-02-17 10:54] m1ci commented on #51
this should be fixed, please check.

[2016-02-17 10:55] m1ci commented on #45
@jnehring should we still keep this issue open?

[2016-02-17 10:57] m1ci commented on #36
this issue has been handled with the domain specific NER feature. @jnehring can we close this issue?

[2016-02-17 10:58] m1ci commented on #35
@jnehring do you have any example where signs like `B`, `.`, `(` are spotted as entities?

[2016-02-17 11:48] jnehring commented on #56
This causes problems because we only have 48 GB Ram in total. We should set -Xmx for all applications (2x FREME NER, 2x Solr, Virtuoso) so they consume 44 GB in total. Then there are still 4 GB left for the operating system and also for the memory usage of java applications that is not heap space.
So I think this configuration is the source of the OOM exception.

fine for me.

[2016-02-17 12:27] #56 closed

[2016-02-17 13:42] jnehring commented on #35
These entities where detected in https://github.com/freme-project/e-Entity/issues/48 and https://github.com/freme-project/e-Entity/issues/43 . There is only one example text that produces an entity "(". Now the API call does not produce this anymore. So I close this issue.

[2016-02-17 13:42] #35 closed

[2016-02-17 13:43] jnehring commented on #51
fixed. thank you

[2016-02-17 13:43] #51 closed

[2016-02-17 13:44] jnehring commented on #56
@m1ci Did you change the memory configuration in FREME worker?

[2016-02-17 13:47] m1ci commented on #56
not, I left as it is now. I thought we agreed on:

[2016-02-17 14:16] jnehring commented on #56
I thought "Lets leave it as it is now." refers to loading english models only for freme-dev to save memory.

Lets open the task again when we have another OutOfMemoryException. The issue does not seem to be so urgend.

[2016-02-17 14:45] jnehring commented on #45
I was playing around with FREME NER and the issue occured again. So I copied the bugfix from SpringBoot to exclude SolrJ Autoconfiguration from https://github.com/spring-projects/spring-xd/pull/1797

Lets leave this open to see if it really does not come back.

[2016-02-17 15:05] pheyvaer opened #78 "Error if output format is text/html with text/html input"
The same call as in issue #76, however this time we ask to output the result using text/html. However, we get the following error
[code]
What exactly is the problem here?

P.S. According to the w3 validator our document is valid (beside some deprecated elements, however, that should not make a difference I think).

[2016-02-17 15:33] m1ci commented on #78
this issue is related to e-Internationalization service so I moved it https://github.com/freme-project/e-Internationalization/issues/35

[2016-02-17 15:33] #78 closed

[2016-02-17 15:34] m1ci commented on #56
Agree.

[2016-02-17 15:37] m1ci commented on #49
fixed, see http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Welcome%20to%20Berlin&outformat=turtle&language=en&dataset=dbpedia

[2016-02-17 15:37] #49 closed

[2016-02-19 15:12] Katsivelisp commented on #72
@m1ci Thank you very much. No, for now it's fine. Do we have an approximate date/timeline for incorporating these improvements into the existing FREME API?

[2016-02-19 15:21] Katsivelisp commented on #63
Hi,

I'm sorry, I wasn't very clear on this. I'm mostly talking about annotating entities using the VIAF dataset.

We often stumble upon these cases as part of a bigger, abstract textual element. So, for example, "National University of Singapore" can be followed or preceded by author names, countries, postal codes etc. So yes, I suppose we would like to perform spotting first, then linking to the

[2016-02-19 15:25] Katsivelisp commented on #62
Hi,

I think it would be more comfortable for us if also had the full name in the FREME NER output. This would also reduce the FREME API calls on our end, no?

This of course is not of great importance at he moment. But in any case thank you for your support. :)

[2016-02-19 16:31] fsasaki commented on #62
@m1ci , this is only out of curiosity and not urgent:

Do you have an example query to achieve this?

[2016-02-22 14:17] jnehring commented on #36
we can close it

[2016-02-22 14:17] #36 closed

[2016-02-23 13:30] m1ci commented on #62
@fsasaki I've crafted template which enriches VIAF URIs with their corresponding label. Here it is
http://api-dev.freme-project.eu/current/e-link/templates/4472?outformat=json

Here is cURL example with use of the template:

``
curl -v "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Stoitsis,%20Inst.%20for%20Byzantine%20Research,%20Athens,%20Greece&informat=text&outform

[2016-02-23 13:33] m1ci commented on #72
What improvements?

[2016-02-23 13:48] m1ci commented on #63
Thanks for clarification.
Can you provide some more and full examples where spotting/linking does not work and such cases are important for you?

Our entity spotting models have been trained on clean text which means regular sentences, correct grammar, correct spelling (including capitalization), correct punctuation marks, no HTML or XML markup, etc.
So spotting might not work well on your texts.

[2016-02-23 13:49] m1ci commented on #63
What about parsing your input? Isn't there some usual pattern in the content of your documents? That would be the least painful solution.

[2016-02-23 16:59] fsasaki commented on #62
Very cool! Thanks for showing this, Milan.

[2016-02-24 14:08] jnehring opened #79 "Migrate FREME NER to new architecture"

[2016-02-24 16:04] jnehring commented on #79
I added an implementation to the branch architecture-update. It creates a FREME package. Further it contains a unit test for "spot". Instead of loading an own spring application context, it loads the general FREME context and integrates in this context.

Next steps

* Move enrichment api endpoint to repository
* Move dataset management endpoint to this repository
* Create proxy endpoints for broke

[2016-02-25 15:07] jnehring opened #80 "numLinks parameter in freme-ner"
I am working on #79 and discovered the numLinks parameter. It is used in the codes but it is not documented. @m1ci what does the parameter do?

[2016-02-25 15:09] m1ci commented on #80
using the numLinks parameter one can specify the number of links to be assigned to an entity. E.g., user can set it to 5, and in a post-editing step he can choose the correct link. By default, only one link is returned, the one with the highest confidence.

[2016-03-03 14:34] jnehring commented on #79
Done
* moved enrichment api endpoint to repository
* move dataset management endpoint to this repository
* implemented create / read / update / delete endpoints

Current problems
* PUT creates an empty dataset without content and with a dublicate name instead of updating the existing dataset.
* Sometimes the create dataset method crashes. It creates the database entry but does not write any triple

[2016-03-04 11:07] Katsivelisp commented on #63
I'm not sure what you mean with "parse". There is no universal parsing rule for such records in the XML documents that we process. When the organization records are too short, we often concatenate them with other elements, such as the city, country or country code.

A typical, wider scenario where we would like to apply FREME NER is in cases like the following:

_<ags:creatorPersonal>Stoitsis, G.;

[2016-03-04 11:49] Katsivelisp commented on #72
I'm sorry. I thought that the slight improvement you did on the project spotting case with CORDIS was to be deployed as part of FREME NER at some point.

[2016-03-04 12:21] jnehring opened #81 "updateDataset does not work"
I used the new Java API. The method updateDataset does not work. When I send a PUT request to update a dataset then it creates a new entry in the MySQL database instead of updating an existing entry. It does not seem to send any data to the solr server.

This is a blocker right now.

The current version of the codes is in branch architecture-update in the freme-ner repo. You can start the API usin

[2016-03-06 21:53] sandroacoelho commented on #81
Hi @jnehring , @m1ci

For  " When I send a PUT request to update a dataset then it creates a new entry in the MySQL database instead of updating an existing entry",  I made a small fix that solves the problem. It is in  issue81 branch (Also I merged with architecture-update) .

@jnehring : In architecture-update, I am getting compilation error

*symbol:*   class NotFoundException

*location:* pack

[2016-03-07 07:15] m1ci commented on #81
@jnehring Can you please comment on this?

The Solr instances are secured. Please send me your public IP so I can enable access from that IP. Send me your IP in a personal message.

[2016-03-07 16:16] jnehring commented on #81
Sorry I forgot to commit some codes. I pushed them to FREME common. (branch architecture-update-master). They are included in the maven artifact also so dont worry how to get the codes, maven should do this for you.

I cannot reproduce this bug.

I did:

[code]

mvn install said "BUILD SUCCESS", without compilation errors.

[2016-03-11 10:24] jnehring commented on #81
It works. Thank you!

[2016-03-11 10:24] #81 closed

[2016-03-11 12:26] jnehring commented on #79
Above "Current problems" have been solved.

Next steps:
* Update the master branch
* Install FREME NER on the broker

[2016-03-11 12:29] sandroacoelho commented on #81
:+1:

[2016-03-18 14:09] jnehring opened #83 "FREME NER crashes"
Sometimes FREME NER crashes. So it does not crash only the current HTTP request but it terminates the whole Java application. This should not happen. I found in the logfiles

[ERROR] [03/18/2016 14:06:48.787] [api-akka.actor.default-dispatcher-6] [ActorSystem(api)] Uncaught error from thread [api-akka.actor.default-dispatcher-6] shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled

So

[2016-03-18 14:15] sandroacoelho commented on #83
hI @jnehring. I will investigate this issue asap and then provide a solution.

[2016-03-18 14:18] jnehring commented on #83
thanks @sandroacoelho :)

[2016-03-22 10:02] jnehring opened #84 "FREME NER failed on freme-live"
FREME NER failed on freme-live. The server process died and it is no longer running. I tried to restart it using `mvn scala:runDmainClass=org.elinker.core.api.Server` but this did not work.

1) Can you please restart it
2) Do you have any logfiles that can point us to the source of the problem?

[2016-03-22 11:20] m1ci commented on #84
1) done: http://api.freme-project.eu/current/e-entity/freme-ner/datasets/
You can use the `start.sh` script to start it using `sh start.sh`

2) everything is logged in `log.txt`
From the log it looks freme ner crashed due to syntax error in the communication with the sparql endpoint. @sandroacoelho can you check what went wrong? Check the log file `.../elinker/freme-ner-0.5/freme-ner-latest/log.tx

[2016-03-22 11:32] jnehring commented on #84
I was working on freme-worker when FREME NER crashed. I started FREME NER using the new architecture. The new installation is separated from the old installations so I do not expect a relationship between the two but it is possible that something caused e.g. an OutOfMemory exception and then freme-ner crashed.

[2016-03-22 11:32] jnehring commented on #84
Thanks for the quick fix

[2016-03-22 11:43] jnehring commented on #45
This is no longer a problem

[2016-03-22 11:43] #45 closed

[2016-03-22 11:44] jnehring commented on #79
Done:
* Install FREME NER on freme-worker, also with Jenkins (#43)
* Install the proxy in the broker that redirects calls to FREME NER (freme-project/basic-services#27)

Last step:
* Merge in master branch

[2016-03-22 11:47] jnehring commented on #80
@josauder please add the numLinks parameter to the swagger.yaml. Add this text:

Using the numLinks parameter one can specify the maximum number of links to be assigned to an entity. By default only one link is returned. The maximum possible number for this parameter is 5.

[2016-03-23 12:35] fsasaki commented on #72
Panagis, does this issue still need work?

2016-03-04 12:49 GMT+01:00 Katsivelisp <notifications@github.com>:

[2016-03-24 08:46] jnehring commented on #79
I merged the changes in the master branch. Further I stopped the old dev installation of freme-ner. So this task is finished.

[2016-03-24 08:46] #79 closed

[2016-03-24 15:39] #80 closed

[2016-03-30 08:07] Katsivelisp commented on #72
@fsasaki I'm sorry for the late response, I was away last week.

It seems to me that the example I gave above returns the same results (false positives etc). I will try to run full-scale examples in the next few days and let you know.

[2016-04-05 07:17] jnehring opened #85 "Add dataset security"
Please add dataset security to FREME NER. I think you cannot use the managed resource controller. I suggest this approach:

* Access level logic should be equivalent to the other protected resources (visibility public or private, read / write rights according to this)
* FREME NER uses the DatasetSimple database entity. Add a field "user" and a field "visibility" to this entity. This field is optio

[2016-04-07 12:35] jnehring commented on #83
@ArneBinder please do research about this configuration option and check if this can improve the stability of FREME NER.

[2016-04-08 07:47] jnehring commented on #43
I started this task yesterday. I stopped freme-ner on freme-dev and I am still struggling to restart it. Hopefully I can fix this today.

[2016-04-08 08:39] Katsivelisp commented on #83
Hi guys,

I don't know if this is related really, but FREME NER has been a bit unstable for the past 2 or 3 days. We get Gateway 502 errors a lot and the service is down for hours during the day.

[2016-04-08 08:46] m1ci commented on #83
Are you using FREME NER live or dev?
@jnehring is doing architecture update and FREME NER dev is unstable these days.

[2016-04-08 08:53] Katsivelisp commented on #83
We use FREME dev. Should we go for the live one?

[2016-04-08 08:56] m1ci commented on #83
FREME dev is dev (unstable) version :)
We try to keep it as stable as possible, but when we test some new feature, it might be down for some time

We strongly recommend use of FREME live in your production systems.

[2016-04-08 08:58] Katsivelisp commented on #83
Well, we do use the live version for our production systems, but we want to test the most recent developments, so that I can come back to you with the dataset we were talking about. Anyway, point taken, we will use FREME live. :)

[2016-04-08 11:22] jnehring commented on #83
Im currently working on #43 and so FREME NER does not work on freme-dev right now.

[2016-04-08 13:39] jnehring commented on #43
done

[2016-04-08 13:39] #43 closed

[2016-04-08 13:39] jnehring commented on #83
freme-ner should work now on freme-dev

[2016-04-08 14:45] ArneBinder commented on #85
Implemented dataset management security. The table is called `dataset_metadata`.

TODO:
 * fix database on freme-dev
 * implement dataset security for POST /e-entity/freme-ner/documents

[2016-04-11 09:49] jnehring opened #86 "Problem with MySQL database"
http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets produces

[code]

probably this is an acl issue. it originates from #85

[2016-04-11 09:50] jnehring commented on #85
added table manually. wait for acl problems.

[2016-04-12 14:23] jnehring opened #87 "problem with mode=link"
I used the link parameter in freme-ner. It worked fine when I used informat=text. When I use informat=turtle then I get an error:

cURL:
[code]

NIF document:
[code]

error:

[code]

[2016-04-12 14:27] m1ci commented on #87
try submitting the content as body of the request

[2016-04-12 14:28] jnehring commented on #87
Did you try this? it produces

[code]

[2016-04-12 14:30] m1ci commented on #87
did you move the same code for the FREME NER API from the broker to the new architecture?

[2016-04-12 14:32] m1ci commented on #87
also, you are using http://api.freme-project.eu/current.
If I remember the live FREME API is at http://api.freme-project.eu/{version}
The dev is at http://api-dev.freme-project.eu/current

[2016-04-12 15:27] jnehring opened #88 "add jenkins job for freme-ner"
I created the job only for freme-ner package but when something changes in the codebase of freme-ner then it does not get updated on freme-dev

[2016-04-12 15:33] jnehring commented on #86
The problem was not an access control problem. After a while FREME NER lost the connection to the database. We had the same problem with the FREME broker. It could be solved by adding this settings to the configuration:

[code]

I leave this ticket open to add this information to the documentation.

[2016-04-12 15:34] jnehring commented on #85
The "ACL Problem" from #86 should be fixed now.

[2016-04-13 09:24] jnehring commented on #86
added to documentation also: http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/install-freme-on-server.html

so this task is finished

[2016-04-13 09:24] #86 closed

[2016-04-13 09:25] jnehring commented on #88
done

[2016-04-13 09:25] #88 closed

[2016-04-14 15:37] ArneBinder commented on #85
implemented.
TODO: testing

[2016-04-15 11:44] ArneBinder commented on #85
Dataset management does not work because of https://github.com/freme-project/basic-services/issues/36

[2016-04-15 13:39] ArneBinder commented on #85
fixed. Can we close this?

[2016-04-18 10:05] ArneBinder commented on #83
`akka.jvm-exit-on-fatal-error ` can be disabled easily, see [this](http://stackoverflow.com/a/34650144) and
[akka configuration reference](http://doc.akka.io/docs/akka/current/general/configuration.html#akka-actor) for a (really) short description. Should we do so? I think in general it is not recommended, `akka.jvm-exit-on-fatal-error = on` should prevent inconsistent states.

[2016-04-18 11:57] jnehring commented on #83
The setting is discouraged. Also the error did not appear in the last weeks. We can still consider using this configuration option when the bug comes back. I think we fixed it.

[2016-04-18 11:57] #83 closed

[2016-04-18 15:05] jnehring opened #89 "POST dataset dublicate names"
When I create a dataset and then to the same call again then the triples get added. Instead it should throw an error message `Dataset "name" already exists.` and response code 400.

[2016-04-18 15:10] jnehring opened #90 "Using a private dataset"
I created a private dataset with name "jan-test-2". I can see it when I call GET http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets (with the right token). When I do enrichment against this dataset I get the message:

[code]

I get the same message when I call http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets/jan-test-2 (with correct token).

[2016-04-18 15:11] m1ci commented on #89
spotted the same behaviour today.
If POST + existing name -> Dataset "name" already exists.
If PUT + existing name -> update fields (name, description, etc.) + append the entities (if sent any) to the dataset

If I read well the code in https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/rest/FremeNerManageDatasets.java
PUT is not implemented.
Note that it was in

[2016-04-18 15:11] jnehring commented on #85
Waiting for #89, #90

[2016-04-18 17:16] ArneBinder commented on #89
Should be fixed. Please recheck.

This should be implemented, it's done by [this function](https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/rest/FremeNerManageDatasets.java#L65-L128). @m1ci what kind of (wrong) behaviour did you notice?

[2016-04-18 17:35] ArneBinder commented on #90
There is no dataset `jan-test-2`, but `jan-test-set-2`.

This works fine (replace `ADMIN_TOKEN`):
[code]

[2016-04-18 17:42] ArneBinder commented on #89
I see, there is no possibility to change the identifier (name) of a dataset. Should we implement this? How was this done before the architecture update?

[2016-04-19 07:05] m1ci commented on #89
The name, is a unique ID for the dataset. So please leave it as it is.

No it was not possible.

[2016-04-19 07:13] m1ci commented on #89
@ArneBinder

PUT does not seem to be implemented (or I do smth wrong)
I try to submit PUT request
`
curl -X PUT --header "Content-Type: text/n3" --header "Accept: application/json" --header "X-Auth-Token: XXXXXXX" -d @data.nt "http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets?informat=turtle&name=mycooldata1&description=bla&language=en&visibility=public"
`
and I get
`
{
   "times

[2016-04-19 07:14] m1ci commented on #89
it works, I used wrong URI, sorry for the noise.

[2016-04-19 07:34] jnehring commented on #90
Ok thanks this bug report is invalid.

[2016-04-19 07:34] #90 closed

[2016-04-19 07:37] jnehring commented on #89
I tested again and it works. Thanks

[2016-04-19 07:37] #89 closed

[2016-04-19 13:27] m1ci commented on #87
@jnehring what has higher priority, the body or the input param?

[2016-04-19 14:10] jnehring commented on #87
http://api.freme-project.eu/current redirects to http://api.freme-project.eu/0.5

input param has higher priority.

[2016-04-20 07:48] jnehring commented on #84
This crash was related to the old architecture. No need to examine this further because it will be replaced soon.

[2016-04-20 07:48] #84 closed

[2016-04-20 07:48] jnehring commented on #85
This works now

[2016-04-20 07:48] #85 closed

[2016-04-26 11:19] jnehring opened #91 "Problem with special characters in FREME NER"
During last developers call, @freme-project/agro-know stated that there are problems with special characters in FREME NER.

I tried

http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&input=%C3%89vreux%20is%20a%20city%20in%20France.

http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&inp

[2016-04-26 11:52] m1ci commented on #91
http://dbpedia.org/page/B%C3%A9roul is properly encoded and it is a valid link. The links are provided as they are in DBpedia.

[2016-04-27 13:55] Katsivelisp commented on #91
Hi,

Just to be clear, we talked about the case of linking with the ORCID dataset, not DBpedia.

I marked 4 examples in blue from the [dataset](https://docs.google.com/spreadsheets/d/1CPUQUyJB5DQgdkR7QS3i_MKeL9rJ1krI0vClNFePB10/edit#gid=0) I compiled a few days ago (rows: 56,71,74,80). I have found these names in ORCID and now I'm just trying to find what FREME NER needs to do the linking part.

I

[2016-04-27 15:24] jnehring commented on #91
I tried out the problem. I did these two API requests to link "Jose F. Marcos" to ORCID:

http://api.freme-project.eu/current/e-entity/freme-ner/documents?dataset=orcid&language=en&informat=text&mode=link&input=Jos%C3%A9%20F.%20Marcos

http://api.freme-project.eu/current/e-entity/freme-ner/documents?dataset=orcid&language=en&informat=text&mode=link&input=Jose%20F.%20Marcos

The first submits the n

[2016-05-04 07:31] jnehring opened #92 "Adding rdfs:label to FREME NERs output"

[2016-05-04 08:22] jnehring opened #93 "Add annotation unit to freme ners output"
FREME NER should have the ability to output annotation units instead of its current output. There will be a parameter "ner-output-format" which can be set to "annotation-unit" or "simple", with "simple" being the default value. "simple" is the behaviour right now. "annotation-unit" changes the output format to the new NIF 2.1 way of representing annotations in annotation units.

We will implement

[2016-05-04 08:30] jnehring commented on #62
#92 is very similar.

[2016-05-04 10:30] jnehring opened #94 "freme ner produces two times "nif:isString""
This API call

http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&outformat=turtle&input=Temple%20Bar%0A%0A%22A%20wonderful%20journey

sends this text to FREME NER

[code]

and produces this NIF (among other):

[code]

There are two nif:isString with different length. I think this is caused by the architecture update.

[2016-05-04 10:41] jnehring opened #95 "freme ner hyphen problems"
Sending this text to FREME NER with this URL

[code]

produces these annotations (among others):

[code]

The problem is that the double quote character is converted to two single quotes. It should stay double quote.

[2016-05-04 10:48] jnehring opened #96 "problem with anchor of"
http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&outformat=turtle&input=%22Simply%20Brilliant%22%20Charlie%20Byrne%E2%80%99s%20Bookshop%2C%20Galway.

produces (among other annotations)

[code]

I wonder how `Simply Brilliant\"`  turns into `Simply Brilliant \\ ''`. The problems are first the space after brilliant and 2nd why the \ is conver

[2016-05-04 11:50] xFran commented on #96
Because your framework at some point while filtering the data is trying to escape "\" by adding another "\" which I strongly believe that in a previous process of the data the framework was trying to escape the double quotes ' " ' by adding a backslash eg. \".

I would suggest to take a look at those filters and remember that some chars acts like comments in queries therefore ignored. This issues

[2016-05-04 12:07] jnehring opened #97 "Upload datasets to FREME triplestore"
Upload the datasets we need for the rdfs:label feature (#92) to our FREME triplestore. Only triples with rdfs:label property should be uploaded to FREME NER.

I think first we need the english DBPedia. We still need to consider whether more datasets are required.

[2016-05-04 12:08] jnehring opened #98 "fetch label e-link template"
Please create a template to fetch rdfs:label for all entities linked by FREME NER for the dbpedia dataset. It uses the dbpedia subset created in #97 and the FREME triplestore. Maybe a similar template has been created in #62.

This template should return only one label. Preferably the same label when called several times for the same link.

This features waits for #97.

[2016-05-04 12:48] jnehring opened #99 "Create pipeline freme-ner and e-link"
Please create a pipeline that

1) calls freme ner with language=en, dataset=dbpedia
2) calls the template created in #98
3) calls a SPARQL filter similar to entities-detailed-info which returns all information of entities-detailed-info + the new label. This SPARQL filter needs to be created.

So the result of the pipeline is the results of freme-ner + the rdfs:label property for each dbpedia link.

[2016-05-04 12:51] jnehring commented on #92
We will choose a pipelining approach to create this functionality.  First we will implement this functionality for the dbpedia dataset. There are three subtasks: #97, #98 and #99

[2016-05-04 12:53] jnehring commented on #94
@ArneBinder please solve this issue in pair programming with @bgrusdt

[2016-05-09 08:03] jnehring commented on #96
In last developers call we agreed that @m1ci or @sandroacoelho will take a look at this.

[2016-05-09 08:03] jnehring commented on #95
In last developers call we agreed that @m1ci or @sandroacoelho will take a look at this.

[2016-05-09 15:09] ArneBinder commented on #94
@jnehring this should be fixed. Can we close this issue?

[2016-05-10 07:46] jnehring opened #100 "Futures timed out"
Sometimes I get an error when I use FREME NER. When I do the same request again it works. The problem does not occur often but I see it again and again. The API call that produced the issue is

http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text/html&outformat=turtle&input=Bob%20Johnston%2C%20The%20Gutter%20Bookshop%2C%20Temple%20Bar%3Cbr%20%2

[2016-05-10 08:16] jnehring commented on #94
The issue is fixed. Thank you!

[2016-05-10 08:16] #94 closed

[2016-05-11 14:10] jnehring commented on #97
@bgrusdt please create the dataset first
* Download the dbpedia english dump.
* Write a script that extracts all triples with english labels. Labels can be expressed via rdfs:label but also via other properties, e.g. foaf:name or skos:prefLabel. Please create a list of label properties.
* The dataset can contain many labels for one resource but we need only one label.

[2016-05-12 08:05] jnehring opened #101 "Another problem with mode=link"
http://api.freme-project.eu/0.6/e-entity/freme-ner/documents?input=Germany&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=link

does not produce a link. When I tested a similar request in #87 this worked so it seems to be a new bug.

This issue is the same as freme-project/pipelines#21

Maybe the bug was introduced by https://github.com/freme-project/freme-ner/issues/94 ?

[2016-05-12 08:11] m1ci commented on #101
can you please double-check if the `mode` parameter implemented in the endpoint of the new architecture?

[2016-05-17 09:03] jnehring opened #102 "Parameter dataset is not always required"
The parameter "dataset" should not always be required. It is required in linking mode, but in spot or classify mode it is not required. Right now it is implemented as always required.

[2016-05-17 15:49] m1ci commented on #98
I have created template with ID 4496 which retrieves rdfs:label for DBpedia resource.
The template is using the DBpedia SPARQL endpoint.
As soon as we load the data into the FREME triple store, I'll update the template and switch the endpoint.

[2016-05-17 15:53] m1ci commented on #99
the template is created, it has id 4496

[2016-05-18 01:05] ArneBinder commented on #101
@m1ci thank you very muich for the hint, mode=link was really not (never) implemneted in the new architecture.
This should be fixed, but I was not able to do any testing from home, so I created the branch `mode-domain-types`. Furthermore this fixes another bug: the parameter `domain` and `types` were not used at all. Now the (domain-)restricted types are passed to EntityLinker.SpotLinkEntities / E

[2016-05-18 01:27] ArneBinder commented on #87
The error occures because extractFirstPlaintext looks for the first isString statement.

[2016-05-18 07:06] sandroacoelho commented on #87
Hi @ArneBinder: you are on the right way.

We must define how to deal with "invalid" or "incomplete" NIF content. Maybe we can use the [NIF validator](https://github.com/NLP2RDF/software) just to check it. What do you think @m1ci ?

With @jnehring example, it's missing [nif:Context](https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/api/java/serialize/NIFParser.j

[2016-05-18 07:26] sandroacoelho commented on #96
Hi all,

We are leverage in Solr results (for mentions) instead of use the original text. It can "create" new
characters like [here](https://github.com/freme-project/freme-ner/blob/2f538019c60f3c05107b4bf8ba93f4f243f45a85/src/main/java/org/elinker/core/api/java/serialize/NIFConverter.java#L84) and [here](https://github.com/freme-project/freme-ner/blob/2f538019c60f3c05107b4bf8ba93f4f243f45a85/src/m

[2016-05-18 07:27] sandroacoelho commented on #95
Hi all,

We are leverage in Solr results (for mentions) instead of use the original text. It can "create" new
characters like [here](https://github.com/freme-project/freme-ner/blob/2f538019c60f3c05107b4bf8ba93f4f243f45a85/src/main/java/org/elinker/core/api/java/serialize/NIFConverter.java#L84) and [here](https://github.com/freme-project/freme-ner/blob/2f538019c60f3c05107b4bf8ba93f4f243f45a85/src/m

[2016-05-18 07:33] sandroacoelho commented on #91
Hi @jnehring

Yes... Solr provides a feature do deal with it. We can configure the approach (string match/metrics algorithms) , accuracy  etc.  I will talk with @m1ci about it.

[2016-05-18 07:53] jnehring commented on #95
Thanks @sandroacoelho . The code you mention says that this is a "temporary fix for ttps://github.com/freme-project/e-Entity/issues/57". So when you finished coding we should test that ttps://github.com/freme-project/e-Entity/issues/57 is not back

[2016-05-18 07:58] jnehring commented on #98
Thanks milan. I will create the pipeline in #99

[2016-05-18 08:56] jnehring commented on #91
Ok spell checking sounds like an interesting solution but I did not really understand how it solves the problem. But if you think it helps - go on.

I found a [thread on GitHub](http://stackoverflow.com/questions/16627062/not-able-to-search-spanish-word-with-accent-in-solr). It is about using the tokenizer to convert special characters to their "normal" form (e.g. `à` to `a`). I am sure it works b

[2016-05-18 09:01] jnehring commented on #87
Thanks for the debugging my NIF. We can close this issue.

I get a response from FREME NER now but it does not produce a link. This issue is covered in #101.

[2016-05-18 09:01] #87 closed

[2016-05-18 11:22] jnehring commented on #97
This will be implemented by @m1ci

[2016-05-19 09:23] m1ci commented on #98
@jnehring  The DBpedia labels are loaded in the FREME triplestore. I have also updated the template with ID 4496 so it is now using the FREME triplestore template.

[2016-05-19 09:24] m1ci commented on #101
@ArneBinder thanks for the catch and fixes!

[2016-05-19 09:26] jnehring commented on #97
finished in #98

[2016-05-19 09:26] #97 closed

[2016-05-19 09:26] m1ci commented on #97
I have uploaded the DBpedia labels (english only) to our FREME triplestore.
The labels dataset is loaded in the http://www.freme-project.eu/datasets/dbpedia-labels graph

[2016-05-19 09:27] jnehring commented on #98
Thank you. I will create the pipeline (see #99)

[2016-05-19 09:27] #98 closed

[2016-05-19 09:28] jnehring commented on #92
Subtasks #97, #98 finished.
When this task is finished, we need to update the SPARQL filter also to output the label also.

[2016-05-19 09:36] m1ci commented on #92
Maybe its better to create new filter instead of updating the current, so that it not crash the wripl client

[2016-05-19 13:17] m1ci opened #103 "wrong content type in the response"
I just noticed that FREME NER returns wrong content type header.
The response is formatted in the correct format, but the content type header is wrong.
Try this link in the browser
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Diego%20Maradona&outformat=turtle&language=en&dataset=dbpedia
and check the content type header.

I think this bug was introduced

[2016-05-20 07:15] jnehring commented on #103
I can confirm the bug. It does not happen on e-terminology and e-translation. @bgrusdt please fix the problem.

[2016-05-23 09:54] ArneBinder commented on #92
good idea. We will extend the filter "entities-detailed-info" with the label and create a new filter.

[2016-05-23 10:52] xFran commented on #92
Or better, ask @xFran first

I'm using anchorOf right now. While this is not removed or the position in the json structure of the anchorOf is not changed you're free to add anything you want.

[2016-05-23 13:40] ArneBinder commented on #92
The following request gives the required result:

[code]

Please replace the value of the first body element (`"This summer there is the Zomerbar in Antwerp, one of the most beautiful cities in Belgium."`) with your own input.

[2016-05-23 13:57] jnehring commented on #62
implemented through #92

[2016-05-23 13:57] #62 closed

[2016-05-23 13:57] jnehring commented on #99
done. see #92

[2016-05-23 13:57] #99 closed

[2016-05-23 13:58] jnehring commented on #92
This feature is implemented. @koidl @xFran please test it.

[2016-05-23 14:43] xFran commented on #92
@jnehring Today I will take a look. Thanks

[2016-05-23 15:12] xFran commented on #92
How can I get json instead CSV?

Doing something like this:

"@graph": [
    {
      "@id": "http://freme-project.eu/#char=0,4",
      "@type": [
        "nif:Word",
        "nif:RFC5147String",
        "nif:Phrase",
        "nif:String"
      ],
      **"label": "Belgium", <- NOTE: "label"**
      "nif:anchorOf": "Belgium",
      "beginIndex": "0",
      "endIndex": "4",
      "referenceContext":

[2016-05-24 10:10] jnehring opened #104 "NIF input format for mode=link"
While working on #101 we found an unexpected behaviour with mode=link: When I do named entity enrichment with mode=spot,classify and put the output of this to mode=link then I do not get any links. According to #87 the content nif:isString will be linked. But FREME NER puts the annotations in the nif:anchorOf property and there this cannot be enriched. Further we found out that in the original FRE

[2016-05-24 10:15] jnehring opened #105 "enrich only nif:isString"
This API call

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=de&dataset=dbpedia&informat=turtle&mode=link

with body

[code]

Produces

[code]

The nif:isString of the result is wrong - the nif source code went inside of the plaintext.

[2016-05-24 10:17] m1ci commented on #105
There are two issues:
  - you have set wrong language, instead of `en` you use `de`
  -  you use mode=link but no entity annotation in the input

[2016-05-24 10:24] ArneBinder opened #106 "domains are not loaded"
This request
[code]

produces

[code]

Debuggin the code reveals that the domains map is empty, the domains.csv seems not to be loaded.

[2016-05-24 10:24] ArneBinder commented on #101
The domains parameter is still not working, see #106.

[2016-05-24 10:28] ArneBinder commented on #101
Linking of plain text works at dev, try [this](http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Germany&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=link).

[code]

The linking question moved to #104, so can we close this?

[2016-05-24 11:08] jnehring commented on #101
I tested it, it works.

[2016-05-24 11:08] #101 closed

[2016-05-24 11:16] jnehring commented on #105
right

See discussion in #104. According to #87 my NIF is correct.

This issue is more about the bug in this line:

[code]

This is not FREME NER specific, this can also also happen in other e-services.

[2016-05-24 11:20] ArneBinder commented on #102
fixed.

[2016-05-24 11:20] #102 closed

[2016-05-24 11:25] jnehring commented on #106
@xFran I wonder why this was not mentioned earlier. Do you still use the domain feature?

[2016-05-24 15:25] #105 closed

[2016-05-24 15:26] ArneBinder commented on #105
The problem was located just in FremeNer, not in FREMECommon (as supposed before).

[2016-05-25 11:21] jnehring commented on #96
any news here, @sandroacoelho  ?

[2016-05-25 11:22] jnehring commented on #95
any news here, @sandroacoelho  ?

[2016-05-25 11:22] jnehring commented on #91
any news here, @sandroacoelho  ?

[2016-05-25 14:13] sandroacoelho commented on #95
Hi @jnehring: I am doing my final tests. I intend to commit tomorrow

[2016-05-25 14:13] sandroacoelho commented on #96
Hi @jnehring: I am doing my final tests. I intend to commit tomorrow

[2016-05-25 14:13] sandroacoelho commented on #91
Hi @jnehring: I am doing my final tests. I intend to commit tomorrow

[2016-05-26 09:43] jnehring commented on #100
This bug seems to be important to me. It happens a lot and makes (I estimate) 1 out of 3 API calls fail. We should start this issue next when the current bugfixes of FREME NER are finished.

[2016-05-27 07:55] jnehring opened #107 "Analyze the code"
Please go through the codes of [FREME NER](https://github.com/freme-project/freme-ner) and draw a diagram of how it works.

[2016-05-27 08:08] jnehring opened #108 "Make some components optional"
When configuring FREME NER currently it is required to add a SOLR server, domain.csv file and a rdf / sparql endpoint. These two are not necessary for every API call so they should be optional.

In a second step please add some validation so the API calls do not crash when e.g. linking mode is specified but no SOLR server is configured. There should be an error message indicating that the configur

[2016-05-27 09:42] jnehring commented on #92
@xFran I modified the pipeline: Now it does not use the filter and uses output format json-ld. Please test if this is the pipeline you need:

[code]

[2016-05-30 02:54] sandroacoelho commented on #95
Hi @jnehring, @m1ci . Sorry for the big delay.
Fixed. When are you testing  #95 and #95,  could you please include #57 too?   Thanks.

[2016-05-30 02:54] sandroacoelho commented on #96
Hi @jnehring, @m1ci . Sorry for the big delay.
Fixed. When are you testing  #95 and #95,  could you please include #57 too?   Thanks.

[2016-05-30 08:29] jnehring commented on #96
Thank you @sandroacoelho . I will test #95, #96 and #57.

[2016-05-30 09:48] xFran commented on #92
If the content has new lines "\n" I get "eu.freme.common.exception.InternalServerErrorException" exception.

[2016-05-30 15:12] jnehring commented on #92
Is this normal?

No this is not normal. It is a bug. @ArneBinder will take a look at the bug.

[2016-05-30 15:40] jnehring commented on #95
Problem fixed. Thanks

[2016-05-30 15:40] #95 closed

[2016-05-30 15:43] jnehring commented on #96
Problem fixed. Thank you

[2016-05-30 15:43] #96 closed

[2016-05-30 15:52] xFran commented on #106
@jnehring Yes, we still use domains.

[2016-05-30 16:46] bgrusdt opened #109 "[dataset upload] sparql + endpoint parameter"
In the extended API Documentation,
POST /e-entity/freme-ner/datasets   successfully creates a dataset when only the body is set to the provided sample dataset. (and language = en)

But when the provided sparql query is used for the sparql parameter together with the given endpoint (http://dbpedia.org/sparql) like this:
[code]

 I get:
[code]

[2016-05-31 07:32] jnehring commented on #106
I think the error was not discovered earlier because the domain features just reduces the amount of entities you get. So when we have this issue fixed you will get less noise in the entities.

@ArneBinder will further examine the bug.

[2016-05-31 07:33] jnehring commented on #109
@bgrusdt please examine what is going wrong.

[2016-05-31 09:18] ArneBinder commented on #92
@xFran This behaviour is correct. New lines have to be escaped, otherwise this is no valid json. You can check your input with [this validator](http://jsonlint.com/), for instance. If you do not want to escape the new lines by your own, upload the pipeline via [Pipelining --> POST /pipelining/templates](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/pipelining/post_pipelining_templates) a

[2016-05-31 14:01] xFran commented on #92
@ArneBinder Thanks. Don't worry. I'm removing new lines in my side from the content. I just used Postman and I got that exception.

[2016-05-31 15:17] ArneBinder commented on #106
The config is loaded correctly, see this:
![bug](https://cloud.githubusercontent.com/assets/3375489/15678314/3235b21a-274e-11e6-9e02-fcd11a203777.png)
But [this](https://github.com/freme-project/freme-ner/blob/master/src/main/scala/org/elinker/core/api/process/DomainMap.scala#L18-L22) is never executed succesfully. `val inputStream = new FileInputStream(file)` in the scala function `Source.fromFil

[2016-05-31 15:28] Katsivelisp opened #110 "Custom vocabulary to be transformed into SKOS"
Hello @m1ci,

we would like to perform entity linking through the FREME CKEditor plugin on a custom dataset. I understand that we have to transform it into SKOS, with which I'm pretty much unfamiliar. Could you please help?

The dataset has been provided to us in CSV format and follows the following structure:
`Term name; Term link; Term description;`

Thank you very much in advance!

[GWPP_Glossa

[2016-06-01 11:07] m1ci commented on #100
is this happening when you submit concurrent requests or sequential requests?

[2016-06-01 11:23] #92 closed

[2016-06-01 12:45] m1ci commented on #110
@Katsivelisp can you send CSV which will include only the label and the link?
I tried to parse the CSV but I could not manage to parse it properly - there are new lines in the description field which makes the parsing difficult. I also could not manage to import it even in Excel.

[2016-06-02 06:14] m1ci commented on #104
true.

There are two ways that you can do linking:
1) linking single entity mentions
Example: when client sets informat=text, mode=link and input=Argentina -> FREME NER will link this single entity.

This works. Try
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Argentina.&outformat=turtle&language=en&dataset=dbpedia&mode=link

2) linking of multiple ment

[2016-06-02 06:21] m1ci commented on #93
IMO having parameter with name `ner-output-format` is bit misleading. A developer might be confused with the two similar parameters `outformat` and `ner-output-format`
Lets think of explanatory name.

Putting @neradis in the loop. Markus, in FREME we want to provide support for NIF with and without annotation units. What do you suggest, what is the best way to handle this? Using a parameter, or?

[2016-06-02 06:22] m1ci commented on #91
@sandroacoelho found the bug, will fix it these days. No re-indexing will be required.

[2016-06-02 06:29] m1ci opened #112 "linkingMethod parameter"
Some time ago we experimented with an additional approach for entity linking. It was designed on request from AK (\cc @Katsivelisp)
The parameter that has been implemented had name `linkingMethod` and so far the only possible value was/is `SurfaceFormSimilarity1`

This effort significantly improved the performance of the linking in terms of precision with low number of false positives.

This featu

[2016-06-02 06:29] m1ci commented on #112
this is what the @Katsivelisp was asking in https://github.com/freme-project/freme-ner/issues/112

[2016-06-02 06:30] m1ci commented on #53
Here are two script examples for uploading data:
https://github.com/freme-project/freme-ner/blob/master/indexorcid.py
https://github.com/freme-project/freme-ner/blob/master/indexviaf.py

[2016-06-02 06:30] #53 closed

[2016-06-02 06:39] m1ci commented on #53
@jnehring
here is one more script for indexing library of congress data
https://github.com/freme-project/freme-ner/blob/master/index-loc-authors.py

[2016-06-02 10:13] Katsivelisp commented on #110
@m1ci Here it is:
[GWPP_Glossary.zip](https://github.com/freme-project/freme-ner/files/295334/GWPP_Glossary.zip)

[2016-06-06 09:34] jnehring commented on #93
another idea would be to use a SPARQL filter that converts from NIF 2.0 to NIF 2.1. This can be a more generic solution that can be applied to all e-Services. Then you have to use a pipeline to convert.

[2016-06-06 09:35] jnehring commented on #91
great!

[2016-06-06 09:39] jnehring commented on #112
I did not know about this parameter. Also the functionality is not clear to me. When there is only one parameter value, then this parameter is always set. Also what are the two linking methods? There is no documentation about the linking methods and about the parameter.

Further the parameter is not included in the FREME java / scala bridge: https://github.com/freme-project/freme-ner/blob/master/s

[2016-06-08 10:47] sandroacoelho commented on #91
I've tested some approaches locally and works for string fields. FREME is using text_general field for labels. I am reading Solr docs looking for a solution without rebuilding the index

[2016-06-09 09:10] jox commented on #104
We also came across this. The problem with mode=link is, that a new RDF model is created not matter what informat is given. In case of NIF input, the created RDF model will contain only the isString of the input NIF. The rest of the input is dropped and lost.

See the pull request that fixes that. It will create a new RDF model only in case of plain text input. Otherwise the input NIF is passed to

[2016-06-10 07:59] jnehring commented on #100
both. but lately I did not come across this error.

[2016-06-10 09:17] jnehring opened #114 "Make datasets available"
In case we want to make the FREME NER datasets available to others, what do we need to do? With making them available I mean that other FREME users like the ADAPT research centre can easily upload our datasets into their FREME NER installation?

I guess we need to provide the SKOS files for these datasets. It would also be nice to have an installer script.

[2016-06-13 08:33] Katsivelisp commented on #110
Hello again @m1ci ,

any news on this?

[2016-06-13 09:40] sandroacoelho commented on #114
Hi @jnehring ,

For the data, we have two options:
-  Prepare a small script that reads our index and generate a dump to be imported or
- Turn our index available to download in binary format ( Solr/Lucene format)

What about to delivery all FREME solution through docker composer (Broker, Link , Publish, NER,Solr etc) ?

[2016-06-13 12:01] sandroacoelho commented on #106
Hi @ArneBinder, @jnehring

The bug is [here](https://github.com/freme-project/freme-ner/blob/3e9201d89d3d87902c0b3267c0c90e6eaad89377/src/main/scala/org/elinker/core/api/service/EntityApiService.scala#L70), but I am little bit lost.  Why the Scala code is commented?

[2016-06-13 12:14] sandroacoelho commented on #100
I've tested locally and increasing the timeouts  in the Await.result calls in FremeNer.scala appears to make these go away. It also alleviates this issue. I will change it on the server and then we can test it

[2016-06-13 12:19] sandroacoelho commented on #91
We need to reindex our current index. Can we do this at any time or must do during the daybreak?

[2016-06-14 07:32] jnehring commented on #106
@ArneBinder you commented out the code. Do you think it is ok when we use the code?

[2016-06-15 12:46] jnehring commented on #91
For FREME dev you can do it anytime. For FREME live we should announce in the developer call when this happens. I think on FREME live it can also happen during normal working hours as long as the partners are informed.

[2016-06-17 10:35] dimasaber opened #115 "I can't upload a custom dataset"
**Scenario:**
1. Create a new user
http://api.freme-project.eu/doc/0.5/api-doc/full.html#!/User/post_user
2. Authenticate to get user id (token)
http://api.freme-project.eu/doc/0.5/api-doc/full.html#!/User/post_authenticate
3. Try to upload a dataset with the following inputs (http://api.freme-project.eu/doc/0.5/api-doc/full.html#!/e-Entity/createDataset)
Enter any details. We can try it with an e

[2016-06-17 12:13] jnehring commented on #115
One thing I can see is that the dataset is not correct. I think it was generated via our API documentation which sometimes creates faulty CURL commands. It is better to put the dataset in a file and append it to the call using `-d "@dataset.nt"`.

But still the API call does not work. I get request timed out. @m1ci @sandroacoelho do you have an idea what is wrong with this curl request?

[code]

w

[2016-06-20 09:46] m1ci commented on #115
I try
curl -v -d @dataset.txt "http://api-dev.freme-project.eu/current/e-entity/freme-ner/datasets?name=NAME&description=DATASET_DESCRIPTION&informat=n-triples&outformat=json&language=en&token=YOUR_TOKEN" -H "Content-Type: application/n-triples"

and it works, the results are:

{
  "id" : 124,
  "creationTime" : 1466415926248,
  "description" : "DATASET_DESCRIPTION",
  "owner" : {
    "name" : "in

[2016-06-20 09:49] m1ci commented on #112
One is based on the most-frequent-sense (MFS) (by default) the other is based on the surface form similarity.

@sandroacoelho can you take care of this please?

[2016-06-20 09:51] m1ci commented on #114
I like the idea to provide FREME as docker

Isnt it better to have a script-per-dataset which loads the data into Solr via FREME NER?

[2016-06-20 09:52] m1ci commented on #100
@sandroacoelho did you manage to do the changes at the server and test if this solves the issue?

[2016-06-20 09:52] dimasaber commented on #115
Still in all cases there is no way to add your token while using the web service. I have to get the command, edit and run it from command line.
Right?

[2016-06-20 09:54] m1ci commented on #115
the token you provide as query parameter. If you want to provide the token via the API docs, this is possible - at the end of http://api-dev.freme-project.eu/doc/api-doc/full.html there is token field, see:

[2016-06-20 10:04] m1ci commented on #91
yes, @sandroacoelho please do this at the FREME dev first. For the FREME live we need to inform the consumers at least one week in advance.

[2016-06-20 15:24] ArneBinder commented on #106
The code was unused, so I commented it to avoid any confusion/false debugging. Since the architecture update the scala endpoints are not in use anymore, the enrichment functionality is used directly via the [e-link java api](https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/api/java/FremeNer.java) which accesses the scala functions in [FremeNer.scala](https://gi

[2016-06-21 15:55] ArneBinder opened #116 "reactivate scala server"
@m1ci proposed the following:

@jnehring Should we do so? I dont know how complex this will be and if we do this we should clearly untangle the server functionality from the rest of freme-ner (putting all in an independent folder `standalone-server` e.g.). The most of the code was just commented, [here](https://github.com/freme-project/freme-ner/blob/72cac85189bd269e9486fb843e0252791abcffff/src/ma

[2016-06-27 09:33] m1ci commented on #110
Done, the dataset has been converted and integrated in the FREME NER (dev API) with ID `gwpp-glossary`

@Katsivelisp should I load it in the live API?

Here is a call example:

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=A%20text%20with%20some%20glossary%20terms,%20such%20as%20Capsid%20proteins%20and%20Adenoviral%20keratoconjunctivitis.&outformat=turtl

[2016-06-27 09:35] Katsivelisp commented on #110
@m1ci I would say, let us try it first and we'll see.

[2016-06-28 04:37] sandroacoelho commented on #114
Hi @m1ci , @jnehring

We can use a simple shell script to do this dirty job for us. Is also possible to split the dump by dataset as Milan suggested

Please take a look [on this snippet](https://gist.github.com/sandroacoelho/00ef674f19f047a2a5574b2e6d8da410)

[2016-06-28 05:36] sandroacoelho commented on #116
Hi @ArneBinder: I agree with you. Let's do a little more: I removed all unused code just to keep clear. I just asked because I did not know that you were modifying the architecture.  Thanks for the reply

[2016-06-28 05:36] #116 closed

[2016-06-28 07:44] m1ci commented on #114
thanks @sandroacoelho for this. Sharing dumps is fine, however, the source dataset can evolve over the time and we might want to integrate it from scratch. My idea was to have script-per-dataset such as
https://github.com/freme-project/freme-ner/blob/master/index-loc-authors.py
which loads RDF into Solr via FREME NER.
The execution of all these scripts can be triggered by one single bash script.

[2016-06-28 09:26] pheyvaer opened #117 "API: request available datasets"

[2016-06-28 12:37] bgrusdt opened #118 "types parameter results in strange output"
When I set the **types** parameter to ```http%3A%2F%2Fdbpedia.org%2Fontology%2FLocation``` in [e-entity/freme-ner/documents](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/executeFremeNer) and all predefined default parameters, the output is the following:

[code]

although the output without setting the **types** parameter contains :
[code]

[2016-06-28 12:41] m1ci commented on #118
here is what I get when processing the same text with types=http%3A%2F%2Fdbpedia.org%2Fontology%2FLocation

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Welcome%20to%20Berlin,%20the%20capital%20of%20Germany.&outformat=turtle&language=en&dataset=dbpedia&types=http%3A%2F%2Fdbpedia.org%2Fontology%2FLocation

The results are as expected, only Location entit

[2016-06-28 12:57] bgrusdt commented on #118
@ArneBinder  can you try this as well? I keep getting a different result. Thanks for your reply.

[2016-06-28 12:59] m1ci commented on #118
please share your cURL

[2016-06-28 13:12] bgrusdt commented on #118
yes, sure:
[code]

[2016-06-28 13:15] m1ci commented on #118
the URI http%253A%252F%252Fdbpedia.org%252Fontology%252FLocation is incorrectly encoded, the correct one is http%3A%2F%2Fdbpedia.org%2Fontology%2FLocation

This should fix your problem

[2016-06-28 13:27] bgrusdt commented on #118
That does work when I use the correctly encoded url in the curl command. But there seems to be a problem on the documentation page then, because I did actually copy the correctly encoded url to the types parameter field, but the generated curl contains the  wrong url:
[code]

[2016-06-28 13:33] ArneBinder commented on #118
The documentation encodes the parameter already. So just put `http://dbpedia.org/ontology/Location` in the input field.

[2016-06-28 13:36] bgrusdt commented on #118
Okay, this finally works then. Thanks. So we should update the description of the types parameter.

[2016-06-28 13:39] ArneBinder commented on #118
Can we close this?

[2016-06-28 13:42] bgrusdt commented on #118
I think that's clear now and we can close it. Thank you.

[2016-06-28 13:42] #118 closed

[2016-07-01 08:55] Katsivelisp commented on #110
Hello again @m1ci,

could you please load it in the live API? We need to run some tests with the CKEditor Plugin and it requires a stable version of the API.

Thank you very much!

[2016-07-01 11:50] m1ci commented on #117
what is this issue about?

[2016-07-01 11:50] m1ci commented on #110
done, see
http://api.freme-project.eu/current/e-entity/freme-ner/datasets/gwpp-glossary?outformat=json

[2016-07-01 11:52] pheyvaer commented on #117
That we can ask through the API which dataset are loaded in FREME NER, so, e.g., in a GUI we can list them to the users and they can select the one they want to use.

[2016-07-01 11:53] m1ci commented on #117
this is already available, see
http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/getAllDatasets

[2016-07-01 11:54] pheyvaer commented on #117
Aah OK, my bad! (cc @bjdmeest )

[2016-07-01 11:54] #117 closed

[2016-07-01 11:55] m1ci commented on #115
@dimasaber did you manage to upload dataset?

[2016-07-01 13:40] Katsivelisp commented on #110
Thanks @m1ci ! :)

[2016-07-01 16:59] ArneBinder commented on #103
Does this also happen if the freme worker (rv2622.1blu.de:7001) is called directly?
[code]
If not, this bug is caused by the proxy-filter.

[2016-07-04 10:36] bgrusdt commented on #103
I only see this behaviour when the call is made from the browser, then it returns the response content-type text/html.  With Postman it returns, text/plain.
When I call it with my local installation, it returns text/turtle as expected. But when I call it locally from  the browser  ``` http://localhost:7001/e-entity/freme-ner/documents/?informat=text&input=Diego%20Maradona&outformat=turtle&language

[2016-07-07 10:33] bgrusdt commented on #109
This is fixed. There was a typo in the sparql parameter example.

[2016-07-07 10:33] #109 closed

[2016-07-07 15:35] ArneBinder commented on #104
@m1ci this seems to work again. Can we close it?

[2016-07-08 09:27] m1ci commented on #104
yup

[2016-07-08 09:27] #104 closed

[2016-07-11 11:45] jnehring commented on #103
probably related issue is https://github.com/freme-project/basic-services/issues/37

[2016-07-11 13:17] bgrusdt commented on #103
This should be fixed with this [commit](https://github.com/freme-project/basic-services/commit/fd039515a65cfca6a7a810af9be467575cc3c21f).

[2016-07-11 13:17] #103 closed

[2016-07-11 13:51] Katsivelisp commented on #110
Hello @m1ci,

could you please re-upload this dataset for us (newer version)?
[GWPP-glossary.zip](https://github.com/freme-project/freme-ner/files/357212/GWPP-glossary.zip)

[2016-07-11 14:05] #110 closed

[2016-07-12 12:01] m1ci commented on #115
@dimasaber ping. Any update here?

[2016-07-12 23:29] dimasaber commented on #115
Now yes. Thanks and sorry for the late reply

[2016-07-13 07:00] #115 closed

[2016-07-14 14:02] jnehring commented on #108
@bgrusdt please merge your changes in the master.

[2016-07-16 16:21] sandroacoelho commented on #106
Hi all,

Our domains file had no commas between key and label. I have fixed it [here](https://github.com/freme-project/freme-ner/commit/379762e4c089693a6c3273ac05cd163026bc8cf7) and created a [test case](https://github.com/freme-project/freme-ner/blob/master/src/test/java/org/elinker/core/api/java/FremeNERTestIssue106.java) for this issue. Just one more question: when we fill with an invalid domai

[2016-07-16 16:22] sandroacoelho opened #119 "enable linking with multiple datasets at once"

[2016-07-16 16:27] sandroacoelho commented on #119
It's done. Could someone please redeploy FREME-NER? Thanks.

**Test case**:  [FremeNERTestMultipleDatasets](https://github.com/freme-project/freme-ner/blob/master/src/test/java/org/elinker/core/api/java/FremeNERTestMultipleDatasets.java)

**Output:**

@prefix xsd:   <http://www.w3.org/2001/XMLSchema#> .
@prefix itsrdf: <http://www.w3.org/2005/11/its/rdf#> .
@prefix nif:   <http://persistence.uni-l

[2016-07-16 16:44] sandroacoelho commented on #100
Hi all,
I have tested after increasing timeout and not found the problems anymore. So, I am closing this issue.
If the bugs persist, I will reopen it and add stress test
Thanks,

[2016-07-16 20:11] sandroacoelho commented on #112
Hi @m1ci ,

I re-implemented the changes that were in develop branch. There is a slightly change in order to do not change the REST API.

How to use it? Just fill in the property freme.ner.linkingMethod in application.properties with SurfaceFormSimilarity1 to enable this filter.

todo list:
- [ ] Write test case  (Could you please remind me a case for this problem ? )

**Current mvn test output st

[2016-07-16 20:40] sandroacoelho commented on #91
todo list
- [x]  Write test cases for it and put @Ignore for tests that  fail
- [ ]  Reindex Solr DEV
- [ ]   Remove @Ignore from tests that have failed
- [ ]   Reindex Solr PROD

[2016-07-18 07:29] jnehring commented on #91
@sandroacoelho this is just an idea, tell me when I am wrong: Maybe the task of re-indexing SOLR  can be combined with the task of [Make datasets available](https://github.com/freme-project/freme-ner/issues/114)? So you restart FREME NER with an empty datasets and then run the scripts you created in #114 to upload the datasets to FREME NER?

[2016-07-18 07:32] jnehring commented on #112
One more todo: Please create an issue in the [Documentation repository](https://github.com/freme-project/Documentation/issues) and describe this parameter. Then assign it to @bgrusdt she will add your explanations to the API documentation. I think it also makes sense to write a few lines about the parameter in the [FREME NER documentation](http://api-dev.freme-project.eu/doc/knowledge-base/freme-f

[2016-07-18 09:48] jnehring commented on #106
After the release last friday the automatic redeploy stopped to work. Now I have updated this and the system automatically redeploys any changes. So when you commit a change to the FREME NER repository, it should be online about 5 minutes later. Check for more information.

So @ArneBinder you can test this now.

[2016-07-18 12:13] ArneBinder commented on #106
The domaines are still not loaded. I get:
[code]

Use the [api documentation](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/executeFremeNer) to reproduce this.

[2016-07-18 13:46] sandroacoelho commented on #106
Hi @jnehring: great job. Thanks for it

@ArneBinder / @jnehring : could you please check if the [domains file](https://github.com/freme-project/freme-ner/blob/master/src/main/resources/domains.csv) is up-to-date at the server?

Best,

[2016-07-18 13:48] sandroacoelho commented on #91
Hi @jnehring :+1: Yes. You are right. I am working on both tasks

Best,

[2016-07-18 14:51] ArneBinder commented on #106
Hi @sandroacoelho,
if it is on github it is also on the jenkins server.

[2016-07-18 15:05] m1ci commented on #106
I think you should write also the domain name like
TaaS-2005 Sport and now just the ID.

On Monday, 18 July 2016, ArneBinder <notifications@github.com> wrote:

--
--
Milan Dojchinovski
http://dojchinovski.mk

[2016-07-18 15:08] sandroacoelho commented on #106
Hi @m1ci : I've changed it.  @ArneBinder : Could you please try again?

Best,

[2016-07-18 15:19] jnehring commented on #114
In last developers call we agreed on creating a shell script for each dataset.

[2016-07-18 16:06] ArneBinder commented on #106
Hi @sandroacoelho,

please use [the interactive api documentation](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/executeFremeNer) to try the request.

But I think the problem is still that the file is not found. Where exactly does the scala code look for it? Currently [this domains.csv](https://github.com/freme-project/freme-packages/blob/master/freme-ner-dev/src/main/resources/

[2016-07-18 17:01] sandroacoelho commented on #106
@ArneBinder when we don't provide a folder as you have put on config file `freme.ner.domainsFile=domains.csv`, Scala/Java tries to locate the file in the current directory

In this [commit](https://github.com/freme-project/freme-ner/commit/9fc82a13d657522a8217ea1656cbeadf03e6e6c9),  I put a graceful error handling do deal with invalid keys. It's strange that we are receiving java.util.NoSuchElemen

[2016-07-18 17:57] ArneBinder commented on #106
@sandroacoelho ok, perhaps I did something wrong... what was the exact curl call you have used? I used this:
[code]

Did I miss something?

I agree, this is really strange.

[2016-07-19 16:00] ArneBinder opened #120 "[dataset upload] properties parameter"
At the moment, the `properties` parameter is discarded, but mentioned at [POST a new dataset](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/createDataset), but not in [update a dataset](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/updateDataset).
[This line](https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/rest/FremeNerMan

[2016-07-20 10:44] fsasaki opened #121 "FREME NER life version may be down"
See attached CURL requests. The one going to FREME dev works, the other not. This was reported from Martin Wunderlich, see
https://twitter.com/martin_wun/status/755711296922853376

[curl-requests-live-versus-dev-version.txt](https://github.com/freme-project/freme-ner/files/373443/curl-requests-live-versus-dev-version.txt)

[2016-07-20 11:18] sandroacoelho commented on #121
@fsasaki , @jnehring: the service is up again

[2016-07-20 11:23] jnehring opened #122 "Use another library for entity spotting"
I received this email today:

Hi Jan, Milan

Gary has been investigating methods to possibly increase the quality of the spotting.

Google has a library for example although it doesn't actually do the entity spotting. It just labels parts of speech in the text. That's still a major component in the accuracy of spotting though.

Can we maybe use this as improvement in the quality of entities in the

[2016-07-20 11:25] jnehring commented on #122
You can do entity spotting with another library. The easiest way to do this is to do this on the client side. Then you can use FREME NER for linking only using the mode parameter. In this way you use the google tool for entity spotting and FREME NER for entity linking.

[2016-07-20 11:27] jnehring commented on #121
@sandroacoelho what happened?

[2016-07-20 11:28] sandroacoelho commented on #106
Hi @ArneBinder :

Could you please try it?
[code]

[2016-07-20 11:34] sandroacoelho commented on #121
I just connect in the server and checked using ps that the service was not available, then I restart it. I will check our logs and tell you the root cause.

[2016-07-20 11:43] sandroacoelho commented on #122
It would be awesome if FREME-NER turns a kind of HUB of spotting service.

[2016-07-20 11:44] jnehring commented on #121
Thank you. I stopped FREME NER on freme-live on monday, uploaded the new version and started it as part of the 0.8 release. 10 minutes after the start I got an exception: java.lang.OutOfMemoryError: Java heap space. Then I just restarted FREME NER and this time it worked. Maybe its again the out of memory error.

[2016-07-20 12:06] fsasaki commented on #121
There still seem to be some issues, see from
https://twitter.com/martin_wun/status/755735015938482176

[2016-07-20 12:08] fsasaki commented on #122
+1 :)

[2016-07-20 12:36] fsasaki commented on #121
I checked

http://api.freme-project.eu/doc/current/freme-showcase/xml-to-rdf.html

and it is borken too. It uses the life version of FREME NER. Nothing has chanced in the demo javascript code recently.

[2016-07-20 12:45] jnehring commented on #121
FREME NER itself is running. http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=de&dataset=dbpedia&informat=text&input=Welcome%20to%20Berlin%2C%20the%20capital%20of%20Germany! returns data coming from FREME NER. I will further investigate this.

[2016-07-20 13:39] jnehring commented on #121
The problem happened both on freme-live and freme-dev. Somehow FREME NER was started in a strange way for both servers. I stopped both packages and restarted them. Now http://api.freme-project.eu/doc/current/freme-showcase/xml-to-rdf.html seems to work.

@fsasaki can you please verify that it works now?

[2016-07-20 17:28] fsasaki commented on #121
works, thanks!

[2016-07-20 17:28] #121 closed

[2016-07-21 00:02] ArneBinder commented on #106
@sandroacoelho thanks a lot, it works for me, too (I switched back to `freme.ner.domainsFile=config/domains.csv` for dev like in the live version)!
So can we close this?

[2016-07-21 00:11] ArneBinder opened #123 "test errors"
@sandroacoelho do you have any ideas why the tests fail during jenkins build? Please have a look at the [jenkins console output](http://rv1443.1blu.de:8082/job/freme-ner/283/console).

[code]

[Here](http://rv1443.1blu.de:8082/job/freme-ner/) you can see the freme ner jenkins builds.

[2016-07-21 00:35] ArneBinder commented on #106
I had to return to frem-ner:0.7 because startup of 8.-SNAPSHOT failed:

[code]

[2016-07-21 08:15] #108 closed

[2016-07-21 09:29] jnehring commented on #119
@xFran please test this feature.

[2016-07-21 11:08] sandroacoelho commented on #123
Hi @ArneBinder , @jnehring . It is an 401. Jenkins server had no access to SolrDev.

It was solved from [#284 build](http://rv1443.1blu.de:8082/job/freme-ner/284/console).

Tests run: 16, Failures: 0, Errors: 0, Skipped: 2

Best,

[2016-07-21 11:08] #123 closed

[2016-07-21 16:42] sandroacoelho opened #124 "startup of 0.8-SNAPSHOT failed"
from @ArneBinder

I had to return to freme-ner:0.7 because startup of 0.8-SNAPSHOT failed:

[code]

Perhaps we should open another issue regarding this.

[2016-07-21 16:45] sandroacoelho commented on #106
Hi @ArneBinder

I created a new issue (#124) for 0.8-SNAPSHOT.

About invalid domians, I will return the original code.

Best,

[2016-07-21 16:45] #106 closed

[2016-07-25 02:46] sandroacoelho commented on #114
Hi @jnehring, @m1ci

We have two shell scripts to do this job for us, as follow:
- [freme-ner-dump.sh](https://github.com/freme-project/freme-ner/blob/master/script/freme-ner-dump.sh) : extracts all non-DBpedia datasets in chunks of 1000000
- [freme-ner-dump-to-dataset.sh] (https://github.com/freme-project/freme-ner/blob/master/script/freme-ner-dump-to-dataset.sh): read and categorizes all dump fi

[2016-07-25 07:52] jnehring commented on #100
I used the FREME workflow editor, loaded the HTML 5 example and used e-Entity. In the UI get the "Undeclared throwable exception", on freme worker I see this log message:

[code]

In parallel I am trying out the scripts from #114 so maybe there is a heavy load on the server and therefore the conection timed out?

Maybe you can create a better error message? This means that when the connection time

[2016-07-25 08:24] jnehring opened #125 "Make dataset update scripts available"
In FREME scripts have been created to convert the [freme datasets](http://api-dev.freme-project.eu/doc/api-doc/list-datasets.html) to SKOS to upload them to FREME NER. We should make the scripts available with some documentation to allow FREME users to upload the latest version of these datasets to FREME NER.

So I think we need to

* Collect all the scripts. Some are located in the [freme-ner rep

[2016-07-25 08:35] jnehring commented on #114
Thank you! I think the script reads the datasets that are currently in freme-ner and then creates dumps of these scripts. Am I right?

One more question: Why did you exclude DBPedia?

I think the next steps are

* Upload these datasets to our FREME server (I will do this as soon as all datasets are ready)
* Create a script that uploads all datasets.
* Write an article about how to upload a dataset

[2016-07-25 08:38] jnehring opened #126 "Make data in triple store available"
The FREME triple store stores some datasets that we need to make available. I think the process is

1. We identify all data that is in the triple store
2. We see which data needs to be made available
3. We make the data available as downloads and documentation

About 1: I think in the triple store there are these datasets:

* Parts of the dbpedia for the domains feature of FREME NER. This needs to

[2016-07-25 13:28] sandroacoelho commented on #114
Hi  @jnehring

Yes.

We can download DBpedia labels dataset from [here](http://wiki.dbpedia.org/Downloads2015-10), but if you think that is important to include this data in our dump, please let me know. I will just remove a [parameter in the query](https://github.com/freme-project/freme-ner/blob/master/script/freme-ner-dump.sh#L4)

Great. Before you start, give me a chance to finish a [docker for

[2016-07-26 07:37] jnehring opened #127 "Make freme ner models public / license"
We made the models that we trained for FREME NER publicly available [here](http://api.freme-project.eu/datasets/ner-trained-models/wikiner/). I think we should add a link to the folder to the [freme-ner documentation](http://api.freme-project.eu/doc/current/knowledge-base/freme-for-api-users/freme-ner.html) and also add a license for the models.

I suggest we make all models we trained available u

[2016-07-27 09:40] munnellg opened #128 "Importance of Entity Counts and Initializing Them for Disambiguation in Solr Index"
Based on my understanding of how Freme works, disambiguation candidates are selected by comparing surface forms to entity labels. The most frequent sense of an entity, which is to say the entity sense that has been spotted most often in the collection, is selected as the final disambiguation. So our disambiguation is entirely based on the most popular entities in our network? In other words, if we

[2016-07-27 10:56] jnehring opened #129 "Mode=link produces no link"
Why does this API request does not produce a link?

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&mode=link&input=Wild+Atlantic+Way&outformat=turtle

The Wild Atlantic Way has a label: http://dbpedia.org/page/Wild_Atlantic_Way

[2016-07-27 10:57] sandroacoelho commented on #128
Hi Gary,

Yes. FREME-NER runs a two-step method to extract and linking entities. Our NER models extracts candidates (aka:"surface forms") and then we use Solr (TF/IDF) to linking based on occurrences stored there.

If we had access to small parts of texts related to the links, it is possible to improve a lot our disambiguation module. We can leverage on it to select the suitable link.  This task i

[2016-07-27 16:16] munnellg commented on #128
Cool. I think it's important to be aware of what Freme is doing out of the box and what modifications we can make to enhance the quality of our results.

Arguably what we have on our server at the moment could be considered a minimum effort installation for what we're trying to achieve. Making Freme a bit smarter will require a few more inputs.

Thanks so much for the clarification. It's really in

[2016-07-28 07:11] jnehring commented on #128
In case you want to implement another disambiguation you can use FREME NERs numLinks parameter. This will return multiple links to each entity. Then you can easily try out another disambiguation method on the client side without hacking the FREME NER code. When your disambiguation method works fine then it would be great if it would be implemented in FREME NER though.

[2016-07-28 07:30] jnehring opened #130 "Upload datasets to the server"
Please upload all datasets from the [list of datasets](http://api-dev.freme-project.eu/doc/api-doc/list-datasets.html) to freme-live server. You can find the datasets (and some more) [here](https://www.dropbox.com/sh/c4otelnrga249g6/AAAwepRh3ObZz4lWk2tTVJJca?dl=0). We need only the datasets from the list of datasets. Please store the datasets in the folder `/var/www/html/datasets/freme-ner-dataset

[2016-07-28 07:50] jnehring commented on #114
The datasets will be uploaded in #130.

[2016-07-29 07:54] jnehring opened #131 "FREME NER live stops"
freme ner live stopped yesterday at 11am. There was no hint in the log files what has happened. The same  happened on 26th of july.

@sandroacoelho do you have an idea what can go wrong? I think this failures occur since the FREME 0.8 update last week monday.

[2016-08-01 03:44] sandroacoelho commented on #131
checking the problem

[2016-08-01 07:19] jnehring commented on #114
One question: The datasets you created, are they any different from the datasets already available at http://api.freme-project.eu/doc/current/api-doc/list-datasets.html ?

[2016-08-01 07:55] jnehring commented on #91
I checked the two examples you send me and it works fine. The issue is solved. Thank you @sandroacoelho !

http://198.199.121.96/freme-ner/e-entity/freme-ner/documents?dataset=orcid&language=en&informat=text&outformat=turtle&mode=link&input=Jos%C3%A9%20F.%20Marcos
http://198.199.121.96/freme-ner/e-entity/freme-ner/documents?dataset=orcid&language=en&informat=text&outformat=turtle&mode=link&input=J

[2016-08-01 07:56] jnehring commented on #91
Next task: Replace the existing datasets on freme-dev and freme-live.

[2016-08-03 07:06] m1ci commented on #127
Since the models were trained on CC-BY data (Wikipedia/DBpedia) I would share these models under the same license, CC-BY.

[2016-08-03 07:11] m1ci commented on #114
what do you mean by different?
Btw, there is also:
- loc-authors (used by wripl) - The Library of Congress datasets provides author names.
- europeana (used by iMinds) - Europeana.eu is an internet portal that acts as an interface to millions of books, paintings, films, museum objects and archival records that have been digitised throughout Europe.
- gwpp-glossary (used by AK) - A custom vocabular

[2016-08-03 07:15] jnehring commented on #128
The questions are answered so I close this issue

[2016-08-03 07:15] #128 closed

[2016-08-03 07:16] m1ci commented on #126
in triple store are stored types and labels info for the entities.
The types triples are stored in the http://www.freme-project.eu/datasets/types graph and there is type info for entities from:
- DBpedia
- CORDIS
- Geopolitical ontology
- Global airports
- ONLD
- ORCID

[2016-08-03 07:20] jnehring commented on #130
Please upload only

* loc-authors
* europeana

The other datasets should be transfered using SSH to the FREME server by someone who has access to  the AKSW server that hosts the data.

[2016-08-03 07:21] jnehring commented on #124
What is the status here? I guess the bug is fixed but the parameter is not documented?

[2016-08-03 07:22] m1ci commented on #129
Due to unknown reason the resource "http://dbpedia.org/resource/Wild_Atlantic_Way" is not indexed in Solr.
Just queried for `resource: "http://dbpedia.org/resource/Wild_Atlantic_Way"` via the Solr interface and there is no such record.
Reasons: maybe the entity was not present in the dump we used to index, or the entity was not indexed due to some issue.

[2016-08-03 07:23] jnehring commented on #114
I was afraid that the work done in this task was unnecessary. But now I see that there are some datasets that would not be available without this work.

[2016-08-03 07:23] #114 closed

[2016-08-03 07:29] m1ci commented on #130
AKSW does not host these datasets. loc-authors is available through the library of congress download page, the europeana was provided by @pheyvaer

[2016-08-03 07:43] m1ci commented on #120
The properties parameter has been implemented and used before the migration to the new arch.
Nevertheless, the properties parameter is optional and if it is not used the FREME NER will index every dc:label, skos:prefLabel and skos:altLabel literals.
Using the properties parameter, the client can specify the additional properties that should be indexed, e.g. foaf:name
Dont recall if this was implem

[2016-08-03 08:13] jnehring commented on #120
I think that @bgrusdt can perform this task also.

[2016-08-03 08:16] jnehring commented on #127
I assume CC-BY in the latest version 3.0? The link you provided is not clear about that.

[2016-08-03 08:25] reckart commented on #127
The latest version of the CC licenses is 4.0.

DBPedia says CC-BY-SA 3.0 (http://wiki.dbpedia.org/about)
Wikipedia also says CC-BY-SA 3.0 (https://en.wikipedia.org/wiki/Wikipedia:Copyrights)

[2016-08-03 08:28] reckart commented on #127
Actually Wikipedia says "Creative Commons Attribution-Share-Alike License 3.0 or later." at https://en.wikipedia.org/wiki/Wikipedia:Copyrights

[2016-08-03 08:31] m1ci commented on #127
Yes, 3.0, same as DBpedia/Wikipedia.

[2016-08-03 08:46] m1ci commented on #120
ok, let @bgrusdt do that. thanks.

[2016-08-03 11:40] nilesh-c commented on #127
@m1ci are these actually DBpedia abstracts models? AFAIR I trained these models using data from http://schwa.org/projects/resources/wiki/Wikiner (which is also CC-BY 3.0, but I guess some attribution would be nice)

[2016-08-03 11:46] koidl commented on #129
Thanks @m1ci how do we solve it? Maybe update the dbpedia dump used?

In relation to this @jnehring how will we update the dbpedia file on our local installments? I guess there is some procedure we will have to follow. Just wondering if its documented.

[2016-08-03 12:15] m1ci commented on #127
abstracts

[2016-08-03 12:28] m1ci opened #132 "SPARQL INSERT request for uploading triples in virtuoso"
@jnehring here is a SPARQL query for inserting data:

INSERT DATA
  {
    GRAPH urn:sparql:tests:insert:data
      {
        <#book1> <#price> "32" .
      }
  }

Here is same SPARQL query via HTTP POST

curl -v -X POST -H "Content-Type: application/sparql-update" -d "INSERT DATA  {     GRAPH urn:sparql:tests:insert:data       {         <#book1> <#price> 42       }   }" "http://rv2622.1blu.de:8890

[2016-08-03 12:48] m1ci opened #133 "change behaviour of numLinks parameter"
Currently, the value of the `numLinks` parameter refers to the total number of links returned for the entity.
We need to change this behaviour so that the `numLinks` parameter refers to the number of links returned for the entity for each dataset.

For example, if there is the entity `Berlin`, the `numLinks` is set to `1` (default value), and the user specifies for datasets `dbpedia` and `wriplcus

[2016-08-03 12:50] m1ci commented on #129
we can do that.

Same procedure for uploading new dataset.

[2016-08-08 01:09] #119 closed

[2016-08-08 02:02] sandroacoelho commented on #112
Linking Method (linkingMethod) is a configurable parameter that aims to add extras approaches on entity linking step to improve recall. In NER systems, recall is similarly the number of names in the gold standard that appear at exactly the same location in the predictions.

FREME-NER provides the following approaches to leverage the recall:

-  **SurfaceFormSimilarity1**: leaning on Jaro–Winkler s

[2016-08-08 02:03] sandroacoelho commented on #124
It's done.

[2016-08-08 03:56] sandroacoelho commented on #133
Hi @m1ci  ,

I created a test case for this and the behaviour requested is already implemented.  It is strange that the instance under http://api-dev.freme-project.eu/ is producing a distinct result.
Is this instance using the latest master branch codebase?

Result:
[code]

[2016-08-08 04:42] sandroacoelho commented on #100
Hi @jnehring

Who cuts the communication and sends a 500 (internal server error)  are the [Akka actors](https://github.com/freme-project/freme-ner/blob/7fcbd39c016264c2fb2872164cac63485beaa68c/src/main/scala/org/elinker/core/api/scala/FremeNer.scala#L30).  I believe that Solr, even when it is very busy would answer the request.

Would you mind if I change it to an external parameter and recommend

[2016-08-08 04:46] sandroacoelho opened #134 "Reindex freme-dev and freme-live with existing datasets"
#91

[2016-08-08 04:47] sandroacoelho commented on #91
I am closing this issue and open a new one as a task

[2016-08-08 04:47] #91 closed

[2016-08-08 07:55] jnehring commented on #134
Please tell the partners in advance when you plan to do it on freme-live because I guess it will make FREME live unavailable for some time.

[2016-08-08 07:57] jnehring commented on #100
I am not sure. Lets discuss this on the next call. What is the current setting of the timeout?

[2016-08-08 07:59] jnehring opened #135 "Jenkins does not automatically redeploy freme-ner on dev"

[2016-08-08 08:00] jnehring commented on #124
I cannot find the documentation.

[2016-08-08 08:33] jnehring commented on #135
It does get dereployed so this issue is invalid

[2016-08-08 08:33] #135 closed

[2016-08-08 08:50] jnehring commented on #133
It did not get redeployed automatically because the version of freme-ner was still set to 0.7, while you implemented your changes in 0.8-SNAPSHOT in [freme-parent](https://github.com/freme-project/freme-parent/edit/master/pom.xml). I changed this but still it seems not to work.

I checked the configuration and I am pretty sure that freme-worker runs the latest version of FREME NER now but it still

[2016-08-08 09:05] jnehring commented on #112
Because of the documentation I created https://github.com/freme-project/Documentation/issues/279

About the implementation: What exactly did you implement? Apart from being implemented on the inside of FREME NER it needs to be implemented in (correct me if Im wrong):

* The [Java / Scala bridge](https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/api/java/FremeNer

[2016-08-08 12:36] sandroacoelho commented on #112
Hi @jnehring ,

It is just a [filter](https://github.com/freme-project/freme-ner/blob/master/src/main/scala/org/elinker/core/api/filter/SimilarityFilter.scala) that uses freme.ner.linkingMethod property loaded at FREME-NER startup.

@m1ci has requested to me in ASANA:

Should I refactor it to put in REST API?

Best,

[2016-08-08 12:37] m1ci commented on #112
It sounds the parameter is not implemented in the REST API and Scala/Java bridge, so please do.

[2016-08-08 12:44] sandroacoelho commented on #133
Hi @jnehring , Could you please try again?

I was indexing our new solrdev. I went back to the old instance.

I will continue this operation in the early hours in Germany.

Best,

[2016-08-08 12:47] jnehring commented on #133
I tested it and it works now. So can we close this issue?

[2016-08-08 12:48] jnehring commented on #112
Please integrate it in the Scala bridge. DFKI can integrate it in the REST API.

[2016-08-08 12:48] m1ci commented on #133
just checked, and I can also confirm that it works.

[2016-08-08 12:56] sandroacoelho commented on #134
I am planning to perform our reindex as follow

<table>
  <tr>
     <td><b>Instance</b></td>
     <td><b>Reindex time</b></td>
  </tr>
  <tr>
     <td>solr-dev</td>
     <td>Monday 22:00 to 06:00</td>
  </tr>
  <tr>
     <td>solr-dev</td>
     <td>Tuesday 22:00 to 06:00</td>
  </tr>
</table>

<table>
  <tr>
     <td><b>Instance</b></td>
     <td><b>Reindex time</b></td>
  </tr>
  <tr>
     <td>sol

[2016-08-08 13:00] #133 closed

[2016-08-08 13:00] sandroacoelho commented on #112
ok... Let's do it.

Best,

[2016-08-08 13:08] sandroacoelho commented on #124
Hi @jnehring ,

mmmm... I am lost. Newbies... sorry . For the documentation, I need open an issue with what we need to change or may I need to go further? What I need to do?

Thank you in advance,

[2016-08-08 13:15] jnehring commented on #134
The table says solr-dev only, what about solr live?

Lets announce these downtimes on next developers call.

[2016-08-08 13:17] jnehring commented on #124
I think the implementation is ready and the documentation will be done in https://github.com/freme-project/Documentation/issues/270 . When this is true I think we can close this issue.

[2016-08-08 13:18] sandroacoelho commented on #134
ops... for Solr Live is

<table>
  <tr>
     <td><b>Instance</b></td>
     <td><b>Reindex time</b></td>
  </tr>
  <tr>
     <td>solr-live</td>
     <td>Tuesday 22:00 to 06:00</td>
  </tr>
  <tr>
     <td>solr-live</td>
     <td>Wednesday 22:00 to 06:00</td>
  </tr>
</table>

[2016-08-10 13:11] bgrusdt opened #136 "[e-entity/freme-ner/datasets] creating dataset fails"
I am trying to create a dataset from the api-documentation:
[code]
which results in the following error:
[code]

Since the log file doesnt print the stack trace I added a file that contains the stacktrace I get when I run it on my local machine, [stacktrace.txt](https://github.com/freme-project/freme-ner/files/411100/stacktrace.txt). The Exception is thrown in the [scala FremeNer code](https://git

[2016-08-10 13:23] ghsnd opened #137 "Wrong <span> tag attributes when using HTML as in- and output"
Hi,
This is a specific case. Issuing this command:

[code]

produces:

[code]

Of interest is the sentence *...instigating the fall of communism in Eastern Europe, ...**

which becomes:

[code]

which is not correct.

[2016-08-10 13:28] m1ci commented on #137
I think the issue is related to the e-Internationalization service.
Processing the sentence

with FREME NER, returns `Eastern Europe` correctly spotted and linked (http://dbpedia.org/resource/Eastern_Europe).
adding @jnehring and @katia-vistatec into the loop.

[2016-08-10 13:58] katia-vistatec commented on #137
Hi. Using broker Local, which service can I use to debug it  locally?

[2016-08-10 14:19] jnehring commented on #137
You can use broker-dev. The example uses FREME NER and I assume the DBPedia dataset. broker-dev is configured to proxy the request to freme-ner so you do not need to install the heavy-weight freme-ner on your local machine.

[2016-08-10 14:31] ghsnd commented on #137
Note, to reproduce the bug, you have to use *all* sentences (exactly as in the given command), not just the one where it goes wrong. If you use only that sentence, it goes well.

[2016-08-11 09:17] bgrusdt commented on #120
I couldnt test it since the creation of datasets failed. When this is solved, I will do it.
Wait for #136 .

[2016-08-11 12:10] katia-vistatec commented on #137
Which versdion of the internationaslization is the service referencing?

[2016-08-12 13:26] katia-vistatec commented on #137
@ghsnd you can check if it is ok now.

[2016-08-15 00:43] sandroacoelho commented on #136
Hi @bgrusdt ,

According to your stack trace, you have tried adding a new dataset from http://localhost:8080/e-entity/freme-ner/datasets and have received an unauthorized error from http://rv2622.1blu.de/solrdev. It happens because our **Solr** instances under **1blue.de** is not widely open.

If you want to run it locally, I would recommend using [freme-docker](https://github.com/freme-project/fr

[2016-08-15 12:25] bgrusdt commented on #136
Hi @sandroacoelho  ,
thank you very much. I'm sorry, this was really a bad mistake. When I am connected to the Intranet everything works fine..
Thank you!

[2016-08-15 12:25] #136 closed

[2016-08-16 08:18] ghsnd commented on #137
All `<span>` tags in my tutorial contents are OK now. Thanks!

[2016-08-16 08:18] #137 closed

[2016-08-16 09:36] ghsnd opened #138 "About titles, headings and newlines."
Hi,

Not entirely sure if this issue is a real issue, and if it belongs to FREME NER or e-Internationalization...

I have an HTML page here: [history.html.txt](https://github.com/freme-project/freme-ner/files/419870/history.html.txt).

It starts with

[code]

Apply FREME NER (dev) with the following command:

    curl -X POST --header 'Content-Type: text/html' --header 'Accept: text/turtle' -d '@h

[2016-08-16 09:41] m1ci commented on #138
Your questions:

...relate to e-Internationalization - @katia-vistatec .
Maybe I can react on 2)
The text is quite irregular, FREME NER was trained on "normal" texts.

[2016-08-16 10:04] katia-vistatec commented on #138
Hi. The title appears in the nif file because it is a text unit just like the text in paragraphs or headings.  I don't know if there is some reason to have it in the nif.

[2016-08-16 14:02] bgrusdt commented on #120
The properties parameter was implemented in the scala code, but as @ArneBinder mentioned, it was never used. I included it and tested it  for PUT and POST which both worked.
But when it is set, it does not index the additional properties but **only** the properties defined in the properties parameter and not the default ones, dc:label, skos:prefLabel and skos:altLabel literals.
[Here](https://gith

[2016-08-17 07:34] jnehring commented on #120
To me the suggested change makes sense but lets wait what @m1ci says.

[2016-08-17 07:36] m1ci commented on #120
I would suggest following:
- the properties parameter is optional
- if it is not set then dc:label, skos:prefLabel and skos:altLabel are considered
- if it is set, then only the specified properties are considered and not the dc:label, skos:prefLabel and skos:altLabel

[2016-08-17 07:44] ghsnd commented on #138
Thanks for the answers. I think this is more a philosophical discussion than a technical one, so let's close it.

[2016-08-17 07:44] #138 closed

[2016-08-17 08:06] jnehring commented on #120
Ok. Then lets do it this way. I think in this case the work is done?

@bgrusdt can you please check if it is properly documented which properties are considered for indexing? When the documentation is correct then I think we can close this issue.

[2016-08-17 12:24] m1ci opened #139 "index the GRID dataset"
Upload this dataset into FREME NER, download link: https://www.dropbox.com/sh/7kg8527zev9gsh2/AACbVTDgPwT-YAZEuQlKi8MJa?dl=0

[2016-08-18 05:58] bgrusdt commented on #120
I added a short note about the behavior wrt the default  values, [see here (Note 1)](http://freme-project.github.io/api-doc/full.html#!/e-Entity/createDataset). The rest was properly documented.

[2016-08-18 05:58] #120 closed

[2016-08-18 08:38] jnehring commented on #132
@koidl please test

[2016-08-18 08:47] jnehring commented on #130
I created https://github.com/freme-project/dataset-conversion-scripts/issues/4 to add the scripts for eureopana

[2016-08-18 08:48] #130 closed

[2016-08-18 13:47] m1ci commented on #134
is this task done?

[2016-08-18 13:48] m1ci commented on #127
@jnehring can we close the issue?

[2016-08-18 13:49] m1ci commented on #112
what is the status of this task?

[2016-08-18 14:31] jnehring commented on #127
@bgrusdt

* please add a note to the [documentation of freme-ner](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/freme-ner.html#how-to-install) next to the section "Trained NER model files for the languages you want to support". It should say that the data is licensed under Creative Commons Attribution-ShareAlike 3.0 license and the link to https://creativecommons.org/licen

[2016-08-19 11:03] sandroacoelho opened #140 "Not a valid token for an RDF term"
[code]

[2016-08-22 07:08] jnehring commented on #140
I assume this is a bug? When does it happen and what are its consequences?

[2016-08-22 09:09] pheyvaer opened #141 "Entities in Dutch text are found, but not linked to resources (DBpedia)"
Using a Dutch text using NER finds the entities. However, it doesn't retrieve the URIs in DBpedia. For the English version this works.

[code]

[2016-08-22 11:32] bgrusdt commented on #127
@jnehring
I added two sentences about the license and creation of the models to the [documentation](http://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/freme-ner.html#how-to-install)
and added a LICENSE.txt file with the same information to this folder on freme-live:
var/www/html/datasets/ner-trained-models/wikiner.
So can this be closed?

[2016-08-22 11:34] jnehring commented on #127
Thank you, this issue is solved.

[2016-08-22 11:34] #127 closed

[2016-08-22 13:47] sandroacoelho commented on #134
Hi @m1ci . Yes. We can close it.

[2016-08-22 13:47] #134 closed

[2016-08-22 13:49] sandroacoelho commented on #124
[Issue 270](freme-project/freme-project.github.io#270) has closed. So we can close this issue too.

[2016-08-22 13:49] #124 closed

[2016-08-22 13:51] sandroacoelho commented on #141
Hi @pheyvaer , @m1ci : could you please try again?

[2016-08-23 08:24] jnehring commented on #141
@sandroacoelho did you change something in the implementation?

[2016-08-23 08:39] m1ci commented on #141
I think it was only issue with the indexing. The entities were indexed only for EN, thus linking would work only for English texts. For this reason, we indexed without language specified, so that we can link the entities in "any" language.

[2016-08-23 09:51] jnehring commented on #131
I think it was stopped manually so we can close this issue

[2016-08-23 09:51] #131 closed

[2016-08-23 09:52] jnehring commented on #72
@Katsivelisp what is the status here? Can we close the issue?

[2016-08-23 09:56] jnehring commented on #129
This works now. I think the datasets were re-indexed and so the issue was fixed

[2016-08-23 09:56] #129 closed

[2016-08-23 09:57] jnehring commented on #112
@sandroacoelho what is the status?

[2016-08-23 09:59] jnehring opened #142 "Implement NIF 2.1 changes"
Please implement changes to implement NIF 2.1 annotations. The use of annotation units should be switched on / off using a parameter "nif-version=2.0" or "nif-version=2.1" with the default value being "2.0"

[2016-08-23 13:05] jnehring commented on #100
The problem happened 32 times in the last 3 weeks on freme-live. But there were times when it happened more often. From the error message I think the time out is 30 seconds which is ok. But can you please return another exception with HTTP Status code 502 - "Bad Gateway" and an appropriate error message?

Just throw one of these exceptions, you can specify the error message and our exception handl

[2016-08-23 15:07] sandroacoelho commented on #141
Hi @jnehring: It is related to the data as @m1ci  told

Best,

[2016-08-23 15:26] koidl commented on #132
Thanks Milan -

[2016-08-23 15:27] koidl commented on #132
This might get messy - If I have a dataset with lets say 1000 entities how will I do this via curl? Also how do I delete or modify the tripplestore?

[2016-08-24 07:11] sandroacoelho commented on #139
Hi @m1ci

I have completed this task. Could you please test it?

Best,

--------------------------------
I ran  the following commands and I have a question:  Is there some functionality that I can load all labels from Virtuoso to Solr directly?

1)  Created folder to download original datasets

[code]

2) Then I uploaded  the files to Virtuoso

[code]

3) And downloaded labels as TSV, converting

[2016-08-24 07:11] sandroacoelho commented on #142
Let's do that

[2016-08-24 07:16] sandroacoelho commented on #112
Hi @m1ci , @jnehring : It's done.

Best,

[2016-08-24 07:19] #141 closed

[2016-08-24 07:20] jnehring commented on #132
@koidl did the curl work out for you? Could you add some sample data to a graph?

You can do subsequent requests in batches when a single request is too large.

Maybe @m1ci has another suggestion, but I would suggest modifying above SPARQL query to a DELETE query: https://www.w3.org/TR/sparql11-update/#delete

[2016-08-24 07:39] sandroacoelho commented on #132
You have two more options:

If you have access to the Virtuoso Server and is familiar with command line tools, you can use isql (isql-v) that is under the Virtuoso folder (/usr/local/virtuoso-opensource/bin/).  Just run  ``/usr/local/virtuoso-opensource/bin/isql`` ( or  ``/usr/local/virtuoso-opensource/bin/isql-v ``  - depends of your version)  using your dba credentials and then

[code]
Eg.:
  I

[2016-08-24 07:45] m1ci commented on #132
@koidl with one request you can insert/update/delete multiple triples, here is an example

INSERT DATA
{
GRAPH &gt;urn:sparql:tests:insert:data&lt;
{
<#book1> <#price> "1" .
<#book1> <#price> "2" .
<#book1> <#price> "3" .
<#book1> <#price> "4" .
<#book1> <#price> "5" .
}
}

[2016-08-24 07:47] sandroacoelho commented on #140
Hi @jnehring:

I opened this issue just to investigate if it is a bug or my file has a wrong format. I figure out that was a wrong format.

Best,

[2016-08-24 07:47] #140 closed

[2016-08-24 07:49] m1ci commented on #139
Thanks, works
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=I%20work%20for%20the%20Fordham%20University.&outformat=turtle&language=en&dataset=grid

"Fordham University" is spotted and linked.

I have a question regarding your procedure for uploading the dataset into Solr.
Why you not loading grid.nt directly, but you create dump from virtuoso as TSV and

[2016-08-24 08:04] sandroacoelho commented on #139
I confess that I was not curious / smart to check the documentation or the code to know what is the easy way to load the data.

[2016-08-24 08:04] #139 closed

[2016-08-24 08:11] jnehring commented on #112
I tested the two different methods and got exactly the same results. I would assume that at least the confidence values differ. Below you can see my tests, the first three detected entities and their confidence values.

### With linkingMethod=SurfaceFormSimilarity1

[code]
itsrdf:taIdentRef     <http://dbpedia.org/resource/Eiffel> .
itsrdf:taConfidence   "0.7495701895074838"^^xsd:double ;

itsrdf:

[2016-08-24 08:26] sandroacoelho commented on #100
Hi @jnehring

Message as requested has been implemented.

Best,

[2016-08-24 08:28] jnehring commented on #100
Thank you! I cannot test the issue but from looking at the code I assume it is finished.

[2016-08-24 08:28] #100 closed

[2016-08-24 08:58] sandroacoelho opened #143 "Solr: count property is not updating properly"

[2016-08-24 09:00] sandroacoelho opened #144 "Solr: indexing is allowing duplicate entities"

[2016-08-24 09:01] sandroacoelho opened #145 "Solr: when a dataset is deleted, all documents should be removed"

[2016-08-24 09:09] jnehring commented on #145
This sounds important to me.

[2016-08-24 09:11] m1ci commented on #145
This lines of code should do that
https://github.com/freme-project/freme-ner/blob/master/src/main/scala/org/elinker/core/api/process/Datasets.scala#L102-L104

[2016-08-29 15:43] bgrusdt commented on #107
![fremener grafik](https://cloud.githubusercontent.com/assets/19168976/18057394/1d0461c6-6e10-11e6-8917-e9e369778e90.jpg)

[2016-08-30 07:32] jnehring commented on #107
Thank you! Please move the original image here: https://drive.google.com/drive/folders/0B8CeKhHCOSqUVHRUTXNjSl94RXc

[2016-08-30 07:42] jnehring commented on #142
I wanted to implement the conversion of plaintext to NIF into FREME NER. I already implemented the API parameter: https://github.com/freme-project/freme-ner/blob/master/src/main/java/org/elinker/core/rest/FremeNerEnrichment.java#L101

Then I found out, that the NIF is generated inside of the Scala code. So I think you need to pass the NIFVersion parameter from the Rest API to the Scala code,.

[2016-08-30 12:55] m1ci commented on #142
here is NIF output that will be produced  by FREME NER after it implements NIF 2.1

https://raw.githubusercontent.com/freme-project/freme-ner/nif21/src/test/resources/nif21/fremener-spotlinkclassify-nif21.ttl

[2016-08-31 03:48] sandroacoelho commented on #142
Hi @m1ci , @jnehring ,

FREME NER is ready for NIF 2.1. Thanks both for the support.
Concerning to this item, I have two pending tasks that I intend to close today

- [ ] Create NIF 2.1 test files for spot, spotClassify, spotLinkClassify and link methods
- [ ] Fix/Remove @ignore for spot, spotClassify, spotLinkClassify and link methods

[2016-08-31 04:06] sandroacoelho opened #147 "Badges (code test coverage and travis-ci)"
Hi @jnehring ,

I would like to put some badges in readme for FREME-NER, such as coveralls - code test coverage and it works together with Travis-CI.

Do you know if  we are some restriction or if we are authorized to enable Travis? If is permited and there is not issue related, who could enable Travis-CI for us ( https://travis-ci.org/freme-project/freme-ner ?)

Best,

[2016-08-31 07:37] jnehring commented on #147
Hey, we are already using travis-ci for the documentation homepage. But lets discuss this on todays developers call because it is not clear to me right now what travis does and why we need it.

[2016-08-31 08:32] jnehring commented on #142
[This API request](http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&mode=link&input=Wild+Atlantic+Way&outformat=turtle) fails with Internal Server Exception, message in the logs:

[code]

This line fails:

[code]

nifVersion==null && nifVersion.isEmpty() must fail when nifVersion is null.

[2016-08-31 08:51] m1ci commented on #142
nif-version should be an optional parameter with default value of 2.0? right @jnehring?
or default value is 2.1?
I think at the moment nif-version is not an optional parameter
BTW, [here](http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&outformat=turtle&language=en&dataset=dbpedia&nif-version=2.1) you can check the

[2016-08-31 10:27] sandroacoelho commented on #142
NullPointerException fixed.

[2016-08-31 10:53] sandroacoelho commented on #147
:+1:

Just to know, see this repo https://github.com/AKSW/RDFUnit. It has some badges that I would like to put in FREME-NER

[2016-08-31 12:34] jnehring commented on #142
right

[2016-08-31 13:04] jnehring commented on #147
I changed your permissions. Now InfAI team has admin access to freme-ner repository. So you can configure travis as you like.

[2016-08-31 13:48] sandroacoelho commented on #147
It works. Great thanks @jnehring

[2016-09-01 06:47] fsasaki commented on #119
@jnehring , is this documented? I just looked at http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Entity/executeFremeNer and could not find it.

[2016-09-01 07:35] jnehring commented on #119
Right. I created https://github.com/freme-project/freme-project.github.io/issues/291 to add the documentation.

[2016-09-01 07:49] jnehring commented on #147
I see the "build passing" badge in the freme-ner. Can you please explain what this means? What does travis-ci do?

[2016-09-02 09:57] m1ci commented on #142
the task is finished, @jnehring please check and close

[2016-09-02 09:59] m1ci commented on #112
these confidence values are the one returned by StanfordNER, (spotting+classification), confidence for linking is not returned since its difficult to normalize and return meaningful values.

[2016-09-02 10:04] m1ci commented on #112
however, itsrdf:taConfidence is very generic, thus NIF 2.1 introduces more fine grained properties:
nif:taIdentConf - for linking confidence
nif:taClassConf - for typing confidence
nif:entityOccurrenceConf - for spotting confidence

Should we consider using those? @jnehring

[2016-09-04 21:18] sandroacoelho commented on #147
Hi @jnehring , sure!

Travis-CI do the same work that Jenkins just with an yml file. If the build runs without errors, you will see "Build passing" otherwise  "Build failing" is shown.

The main advantage is that you can use a lot of cloud services  that runs together with travis and let it public through Badges in your README.md.

Some services available online that can be integrate with Travis (

[2016-09-05 07:17] jnehring commented on #112
Lets discuss this on next dev call. I know that at least WRIPL uses itsrdf:taConfidence.

[2016-09-05 07:19] jnehring commented on #142
i tested it and it looks good. this task is finished

[2016-09-05 07:19] #142 closed

[2016-09-05 08:03] jnehring commented on #147
ok thanks

[2016-09-05 08:03] #147 closed

[2016-09-05 13:58] jnehring opened #148 "Problem with informat=turtle"
[code]

produces a bad request without further error message. The log file says

[code]

This causes a problem with e-Internationalization.

[2016-09-05 14:13] #122 closed

[2016-09-05 14:14] jnehring commented on #112
Maybe we should not change this. No partner has asked for other confidence values so I think there is no reason to change this.

[2016-09-12 12:17] ArneBinder opened #151 "fails with informat=text/html caused by different nif prefix"
This request

[code]

produces a `BadRequestException.`

It happens because the input html is converted to turtle, but with nif version 2.0. The extractFirstPlaintext used in the FRemeNerEnrichment tries to iterate only over `context` resources with the nif prefix `http://persistence.uni-leipzig.org/nlp2rdf/ontologies/nif-core#`.

[2016-09-12 13:39] jnehring commented on #151
caused by https://github.com/freme-project/basic-services/issues/106

[2016-09-12 13:44] ArneBinder commented on #151
Should be fixed, @jnehring please review.

[2016-09-12 13:47] jnehring commented on #151
i need to re-activate jenkins in order to see if this is fixed. will do it tomorrow

[2016-09-15 08:54] jnehring opened #152 "Research dataset update cycles"
From [making FREME assets available](https://docs.google.com/document/d/1qlA2LyqKwGeO_ds9hFNDzKT_Wd_C7wv6z4CIK_PLiSo/edit#)

Research dataset update cycles and add to documentation.

[2016-09-15 08:54] jnehring opened #153 "Research dataset licenses"
From [making FREME assets available](https://docs.google.com/document/d/1qlA2LyqKwGeO_ds9hFNDzKT_Wd_C7wv6z4CIK_PLiSo/edit#)

Does the licensing allow to re-distribute the datasets? Research for each dataset.

[2016-09-19 12:03] m1ci commented on #152
done, see the "update frequency" column of the "List of FREME datasets" table.

[2016-09-19 12:22] m1ci commented on #153
done, see the "license" column of the "List of FREME datasets" table.

[2016-09-19 16:55] ArneBinder commented on #151
Jenkins is re-activted and now this works on dev.

[2016-09-21 07:35] jnehring commented on #153
I see that you added the license to each dataset but I cannot find the information if the license allows re-distribution or not.

[2016-09-21 07:47] m1ci commented on #153
while it is clear for CC licenses, some dataset use "custom" licenses. E.g.

- cordis - https://ec.europa.eu/info/legal-notice_en - its not clear if we can or cannot re-distribute.
- geopolitical ontology - http://www.fao.org/contact-us/terms/en/ - probably we can re-distribute.
- global airports - quite unclear, here they write that there is fee for commercial use (http://openflights.org/data.htm

[2016-09-22 13:42] jnehring commented on #152
thank you

[2016-09-22 13:42] #152 closed

[2016-09-22 13:47] jnehring commented on #153
So we can re-distribute CC licenses. I just read about geopolitical ontology, the readme you posted says:

Content may be adapted, translated, copied, printed and downloaded for private study, research and teaching purposes, and for use in commercial and non-commercial products or services, provided that appropriate acknowledgement of FAO as the source s given and that FAO's endorsement of users'

[2016-09-22 17:30] ArneBinder commented on #148
The turtle can not be parsed because of the wrong nif prefix (`...nif-core/2.0#>`). Try this body content:

[code]

[2016-09-26 08:26] jnehring commented on #151
This works now.

[2016-09-26 08:26] #151 closed

[2016-09-26 08:35] jnehring commented on #148
Still does not work with the turtle you provided.

[2016-09-26 09:50] ArneBinder commented on #148
@jnehring did you use curl? In this case, you have to set a content-type header. Otherwise curl defaults to `application/x-www-form-urlencoded`. This causes that the freme-ner controller receives the following body content (instead of the submitted turtle):

[code]

[2016-09-26 10:04] jnehring commented on #148
Thank you @ArneBinder . I did not specify the content-type header. Using this CURL it works:

[code]

So this issue is solved

[2016-09-26 10:04] #148 closed

[2016-09-27 01:30] sandroacoelho commented on #143
@m1ci : count is always [1](https://github.com/freme-project/freme-ner/blob/master/src/main/scala/org/elinker/core/api/process/Datasets.scala#L71)

[2016-09-27 11:24] m1ci commented on #143
thats fine, works as expected

[2016-09-27 11:24] #143 closed

[2016-09-28 08:19] jnehring opened #154 "Create dataset in docker image"
Using docker-compose I started FREME with Solr, Virtuoso, MySQL. Then I wanted to create a dataset. This cURL

[code]

produces

[code]

The log stacktrace is here: [freme-ner-exception.txt](https://github.com/freme-project/freme-ner/files/497438/freme-ner-exception.txt)

@sandroacoelho @m1ci can you debug / give a hint what is wrong?

[2016-09-28 08:21] jnehring commented on #154
Hm. I think the issue is that `freme-solr:8983` is not a valid URL...

[2016-09-28 08:29] jnehring commented on #145
related to https://github.com/freme-project/FREMECommon/issues/37

[2016-09-28 09:32] jnehring commented on #154
fixed by changing the network configuration of the freme-package in application.properties

[2016-09-28 09:32] #154 closed

[2016-09-28 10:56] #145 closed

[2016-09-30 12:26] m1ci commented on #144
no need to fix this, it will make the dataset upload very slow. The users should be aware and make sure they do not upload duplicate triples.

[2016-09-30 12:26] #144 closed

[2016-10-06 09:45] m1ci opened #155 "input is overwritten"
@borriellom  reported that FREME NER overwrites the input.
E.g. if you use the docuemntation page
https://freme-project.github.io/api-doc/full.html#!/e-Entity/executeFremeNer
and submit
[code]

the result should contain the http://freme-project.eu/#char=11,222 resource, the context resource, and two resources for the Berlin and the Germany entities.

However, the results is

[code]
and the http://

[2016-10-06 13:28] sandroacoelho opened #156 "Integration tests"
In order to have real integration test, we need to

- [ ] Select some entities to put into local index
- [ ] Build runtime index to compare the outputs
- [ ] Create target outputs based on the index

[2016-10-06 14:34] sandroacoelho commented on #155
Hi @m1ci, @borriellom ,

It is happening because the current output describes the main string that is "Welcome to Berlin, the capital of Germany!", ignoring entities that were already annotated.

I will fix it appending these ignored content. So the output will be

[code]

By the way,  http://freme-project.eu/#char=11,222 is not a valid URL for nif:referenceContext.

[2016-10-06 16:07] m1ci commented on #155
True, I just wanted to explain what is the correct behaviour. In general, any triple in the input should be also present in the output. That's all.
There is method in Jena which can merge two models (Input and the results model)
``results.add(inputModel);``

[2016-10-07 06:18] sandroacoelho commented on #155
I sent an NIF Library (org.nlp2rdf.NIF) update  to Sonatype. Once it updates in the main server, I will send a pull request that fixes this issue. Usually, it takes 2/3 hours

[2016-10-10 08:10] jnehring commented on #155
Is this fixed now?

[2016-10-10 08:12] jnehring opened #157 "Create dataset fails on freme-live"
The API request to create a dataset on freme-live fails.

[code]

(admin token replaced)

produces

[code]

Please fix this asap because we want to demo this next week on the frankfurt book fair.

[2016-10-10 10:53] jnehring commented on #107
Please add the image to https://freme-project.github.io/knowledge-base/freme-for-api-users/freme-ner.html . Please rename section "FREME NER on GitHub" to "Working with the FREME NER source code" and adjust the text if necessary. Add the image to this chapter.

[2016-10-10 12:45] jnehring opened #158 "FREME NER does not compile"
See http://rv1443.1blu.de:8082/job/freme-ner/373/console

[2016-10-10 13:31] jnehring commented on #157
Happens also when a dataset is deleted on freme live. Both work on freme-dev

[2016-10-10 13:44] bgrusdt opened #159 "Update dataset fails on live"
Updating a dataset from the [full API](https://freme-project.github.io/api-doc/full.html#/) fails with response code 0 and response headers:
[code]
The response body contains: " no content"

When I use Postman to do the request, I get this error:

[code]

It does work on the dev version.

This seems to be related or the same as  this issue #157 .

[2016-10-10 13:49] sandroacoelho commented on #155
Hi @jnehring. Yes.

@m1ci : Could you please test it?

Thanks

[2016-10-10 15:42] sandroacoelho commented on #158
Hi @jnehring ,

I've needed to update the NIF library and keep the version. Could you please use -U (mvn clean install -U) option in maven or remove NIF from the maven lib cache(rm -r .m2/repository/org/nlp2rdf/nif/)?

Thanks

[2016-10-10 15:45] sandroacoelho commented on #157
Hi @jnehring

Could you please try again? Seems that our FREME-LIVE index was corrupted. I replaced it using our backup.

[2016-10-10 15:46] sandroacoelho commented on #159
Hi @bgrusdt

Could you please try again? Seems that our FREME-LIVE index was corrupted. I fixed it using our backup.

[2016-10-10 15:57] bgrusdt commented on #107
I added the image to the google drive folder and to the [dev - documentation](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-api-users/freme-ner.html#working-with-the-freme-ner-source-code).

[2016-10-10 16:30] #107 closed

[2016-10-11 08:15] jnehring commented on #158
I removed the lib from the maven cache and rebuild the project. Now it works. Thank you!

[2016-10-11 08:15] #158 closed

[2016-10-11 08:17] jnehring commented on #157
It works. Thank you!

One question: How can the index be corrupted?

[2016-10-12 07:57] jnehring commented on #125
This is finished

[2016-10-12 07:57] #125 closed

[2016-10-12 07:59] jnehring commented on #63
@Katsivelisp is this issue still up to date?

[2016-10-12 08:01] jnehring commented on #93
this is done

[2016-10-12 08:01] #93 closed

[2016-10-12 13:46] borriellom commented on #155
It still doesn't work.

When using an input NIF file containing terms annotations from e-Terminology, all triples related to terms are deleted.

Input NIF
[code]

Response from FREME NER
[code]

[2016-10-13 09:09] bgrusdt commented on #159
Thank you @sandroacoelho , it works now!

[2016-10-13 09:09] #159 closed

[2016-10-17 05:35] sandroacoelho commented on #155
Hi @borriellom

Could you please test again?

Thanks

[2016-10-17 05:36] #157 closed

[2016-10-17 08:28] jnehring commented on #155
I think this issue is fixed. @borriellom can you please confirm?

[2016-10-17 11:28] jnehring commented on #155
There is still an issue, I guess this issue is the cause:

This CURL

[code]

produces

[code]

Note that the nif:isString property has the same value twice.

[2016-10-17 12:27] sandroacoelho commented on #155
Hi @jnehring ,

You are right. Jena merges all statements but if there is something distinct, like the property ```^^xsd:string ``` in "Welcome to Berlin!", the output will be duplicated.

I am fixing the [NIF Lib](https://github.com/NLP2RDF/NIF-lib) right now.

[2016-10-17 15:41] sandroacoelho commented on #155
Hi @m1ci :

Do you know if every nif:isString in NIF20  has ^^xsd:string property?

[2016-10-17 15:47] m1ci commented on #155
there is no range for nif:isString, so the datatype (xsd:string) is optional. It can be, but it is not necessary to be present.

[2016-10-17 15:59] sandroacoelho commented on #155
In NIF-Lib we always fill data types. We need to keep one to do not have duplicate values. Which one should we remove: from the original file or our annotation process?

[2016-10-18 01:19] m1ci commented on #155
Remove the isstring triple from the original doc, and keep the one with
datatype in ours.

--
--
Milan Dojchinovski
http://dojchinovski.mk

[2016-10-18 23:43] sandroacoelho commented on #155
Hi @jnehring , @m1ci , @borriellom

Could you please test again?

Thanks

[2016-10-19 06:41] m1ci commented on #155
works now

[2016-10-19 06:41] #155 closed

[2016-10-19 07:45] jnehring commented on #155
ok thanks for the fix. please note that it is not part of the current release

[2016-10-24 13:07] m1ci commented on #132
@koidl do you need any additional support on this?

[2016-10-26 11:12] jnehring commented on #126
dublicate of https://github.com/freme-project/freme-docker/issues/17

[2016-10-26 11:12] #126 closed

[2016-11-01 22:56] sandroacoelho opened #160 "nif:taMsClassRef"
@m1ci , @koidl have requested to fill the property nif:taMsClassRef with the most specific one based on the dbpedia ontology.

E.g:
[code]

[2016-11-01 22:59] sandroacoelho commented on #160
Basically, it can be retrieved the following [SPARQL Query](http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=SELECT+%3Ftype+WHERE+%7B+%0D%0A%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FDiego_Maradona%3E+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23type%3E+%3Ftype+.+%0D%0AFILTER+NOT+EXISTS+%7B+%0D%0A++++%3Fsubtype+%5Ea+%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FDi

[2016-11-02 02:15] sandroacoelho commented on #160
Hi @m1ci : I ran the same query at [http://rv2622.1blu.de:8890/sparql](http://rv2622.1blu.de:8890/sparql?default-graph-uri=&query=SELECT+%3Ftype+WHERE+%7B+%0D%0A%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FDiego_Maradona%3E+%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23type%3E+%3Ftype+.+%0D%0AFILTER+NOT+EXISTS+%7B+%0D%0A++++%3Fsubtype+%5Ea+%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FDiego_M

[2016-11-02 08:39] m1ci commented on #160
Hi @sandroacoelho
the query at the FREME sparql endpoint did not work because the dbpedia ontology wasn't loaded and there were the required subClassOf statements. Now it shoud work.
Try [http://rv2622.1blu.de:8890/sparql](http://rv2622.1blu.de:8890/sparql?default-graph-uri=&query=SELECT+%3Ftype+WHERE+%7B+%0D%0A%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FDiego_Maradona%3E+%3Chttp%3A%2F%2Fwww.w3.org%2

[2016-11-02 09:28] sandroacoelho commented on #160
Hi @m1ci. As I promised,  nif:taMsClassRef is already implemented. Could you please test it?

Best

[2016-11-02 09:30] m1ci commented on #160
I dont see the nif:taMsClassRef in the output, see
https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1

[2016-11-04 01:32] sandroacoelho commented on #160
Hi @m1ci ,

Checking Jenkins, I saw that the main jar is not using SNAPSHOTS. The build is using our last stable version 0.11 that does not contain this new feature.

I [forced it](https://github.com/freme-project/freme-packages/commit/7859f34d34c48f3eb6237b5a262b47155d11c621) to give you a chance to test  - (Note: This is wrong and should be reversed as soon as possible) .

At [SPARQLProcessor.ja

[2016-11-04 10:03] m1ci commented on #160
Can you try without specifying the default graph?
Just
`QueryExecution qexec = QueryExecutionFactory.sparqlService(this.endpoint, query);

[2016-11-04 11:31] sandroacoelho commented on #160
Hi @m1ci , Done!

[2016-11-04 11:33] m1ci commented on #160
Thanks, however for https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1
I get one type for Diego Maradna, which is fine, but two types for Argentina - problem. Why there are two types for Argentina?

[2016-11-04 11:43] m1ci commented on #160
I found the reason why,
actually, in the dbpedia ontology there is
`<http://dbpedia.org/ontology/Place> <http://www.w3.org/2002/07/owl#equivalentClass> <http://dbpedia.org/ontology/Location> .`

which means they are same types. In order to return only one, just add LIMIT 1 at the end of the query. That will solve the isssue.

[2016-11-04 11:47] m1ci commented on #160
I found why, there is no subclass relation between http://dbpedia.org/ontology/Country and http://dbpedia.org/ontology/Location, also Location is sameAs Place. We need to fix the sparql query.

[2016-11-04 11:54] sandroacoelho commented on #160
By definition, our query retrieves leafs (a type that does not have subtypes) for the most specific types in DBpedia ontology.

For Argentina, we have [two "leafs" types](http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=SELECT+%3Ftype+WHERE+%7B+%0D%0A<http%3A%2F%2Fdbpedia.org%2Fresource%2FArgentina>+<http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23type>+%3Ftype+.

[2016-11-04 11:55] m1ci commented on #160
not, it's one leaf and its Country. Location is super class.

[2016-11-04 14:23] m1ci commented on #160
Here is the solution
[code]

@sandroacoelho please update the query

[2016-11-04 16:03] sandroacoelho commented on #160
@m1ci : done!

[2016-11-04 21:36] m1ci commented on #160
thanks @sandroacoelho

@koidl @xFran please test, for example: https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1

[2016-11-07 08:43] jnehring commented on #160
Do we need to update the dataset dumps for the docker installation because of that?

[2016-11-07 08:45] jnehring commented on #160
Oh forget the last comment, I just read https://github.com/freme-project/freme-docker/issues/17#issuecomment-258323248 which says we need to update the dataset

[2016-11-09 08:43] m1ci commented on #160
@sandroacoelho do we need to update the dataset? I think it is irrelevant in which graph are the datasets loaded, we query all data in all graphs. Correct me if Im wrong.

[2016-11-10 15:32] jnehring opened #161 "FREME NER produces nif:isString twice"
curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: 6da7f638-ac30-79e5-d80f-e78d44c530f5" -d 'Welcome to Europe!' "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text"

produces

[code]

It does not happen when I specify nif-version=2.1

[2016-11-14 12:16] fsasaki opened #162 "cannot upload new dataset"
See attached request. To run the request, you need to fill in your token.

The new dataset always has 0 entities.
[request.txt](https://github.com/freme-project/freme-ner/files/589164/request.txt)

[2016-11-14 12:24] xFran commented on #160
@m1ci is working with turtle but no json-ld

https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=json-ld&informat=text&input=Diego Maradona is from Argentina.

I can't see nif:taMsClassRef  or something similar in the response.

[2016-11-14 12:32] sandroacoelho commented on #160
Hi, @xFran: I will check our jsonld.

[2016-11-14 12:33] fsasaki commented on #160
It works with NIF version 2.1, see http://tinyurl.com/jedem72

2016-11-14 13:32 GMT+01:00 Sandro <notifications@github.com>:

[2016-11-14 13:01] xFran commented on #160
Works with  NIF version 2.1 indeed.

https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=json-ld&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1

Thank you @fsasaki

[2016-11-16 03:16] sandroacoelho commented on #162
Hi @fsasaki , @jnehring

This error was fixed.

We need to deploy it to test, but  our Jenkins task to it is disabled.

Best,

[2016-11-16 04:50] sandroacoelho commented on #161
Hi @jnehring,

I have fixed it in our NIF library.

We need to deploy it to test, but our Jenkins task to it is disabled.

Best,

[2016-11-16 08:57] fsasaki commented on #162
thanks; does this mean that the fix is not yet deployed on FREME dev or live?

[2016-11-16 10:33] m1ci commented on #161
should be enabled now, please try to re-build freme ner and check if this is fixed. At the moment it is not fixed, see

https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.0

[2016-11-16 10:34] m1ci commented on #162
@sandroacoelho jenkins is re-enabled. @sandroacoelho Can you check if this is fixed? Maybe you'll need to force build of freme ner in jenkins.

[2016-11-16 11:02] sandroacoelho commented on #162
Hi @m1ci, thanks :+1: I'ves tested in dev and it works

@fsasaki : Could you please test in freme-dev again?

Best,

[2016-11-16 11:25] pheyvaer opened #163 "code in <head> not correct after NER"
Request:
[code]
output:
[code]

You have that the `<link>` is now in the `<body>`, `<meta>` is missing and `&gt;` is added in `<body>`.

Don't know if this is related to NER or e-Internationalization or both.

[2016-11-17 09:21] jnehring commented on #162
@fsasaki said in an email that it works now for him. I need to update the live version before the SWIB tutorial.

[2016-11-18 16:05] fsasaki commented on #161
Any news on this? Just trying to work with FREME-NER and still get the
repetition.

2016-11-16 11:33 GMT+01:00 Milan Dojčinovski <notifications@github.com>:

[2016-11-18 16:45] m1ci commented on #161
@sandroacoelho have fixed it but I dont see the fix in the API dev. @sandroacoelho ?

btw, @fsasaki the issue only occurs in NIF 2.0. If you use NIF 2.1 there is no such issue. See https://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.1

Note the `nif-versio

[2016-11-21 02:11] sandroacoelho commented on #161
Hi @m1ci , @fsasaki

Problem solved: [https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.0](https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradon

[2016-11-21 06:01] fsasaki commented on #161
Thanks! What needs to happen to have this in the live version?

2016-11-21 3:11 GMT+01:00 Sandro <notifications@github.com>:

[2016-11-21 06:28] m1ci commented on #161
@sandroacoelho you have missed to add the datatype for isString. Its xsd:string - see https://github.com/NLP2RDF/ontologies/blob/master/nif-core/nif-core.ttl#L154 Please fix this. Thanks!

[2016-11-21 08:15] jnehring commented on #161
This requires a release of FREME NER. We will do a release later this week to fix this bug for the SWIB presentation.

[2016-11-21 10:44] katia-vistatec commented on #163
Hi, this error is not present if you use api-dev. Indeed using the curl request attached I got the result.txt file in which you do not have the error mentioned.
[inputDoc.txt](https://github.com/freme-project/freme-ner/files/603317/inputDoc.txt)
[curlRequest.txt](https://github.com/freme-project/freme-ner/files/603318/curlRequest.txt)
[result.txt](https://github.com/freme-project/freme-ner/files/6

[2016-11-21 12:11] jnehring commented on #163
It will be installed on freme-live in next release: https://github.com/freme-project/FREMECommon/issues/41

[2016-11-22 11:59] jnehring commented on #160
I have a few questions about this feature:

* Would it be complicated to add a configuration option to switch off the feature? I guess it has a huge impact on the performance of NER.
* What happens when the data for this feature is not contained in the triple store? Does it produce no MFS value? Or an error message?
* Is there any documentation about the feature? We should add a (brief) documentat

[2016-11-22 12:03] m1ci commented on #160
I would not complicate the things. And provide this info always. In other words, leave as it is.

If there is no data, then we dont provide the mfs value. If there is then we provide. Also, if there is just one type, then we list this type as most-specific-type and also as itsrdf:taClassRef.

I'm afraid this is not documented. Please add section to the doc called "NIF Output explained" and explain

[2016-11-22 12:08] jnehring commented on #160
| Would it be complicated to add a configuration option to switch off the feature? I guess it has a huge impact on the performance of NER.

| I would not complicate the things. And provide this info always. In other words, leave as it is.

Ok

thanks for the information

[2016-11-22 13:08] m1ci commented on #161
it seems the issue with datatype is fixed. @sandroacoelho please confirm?

[2016-11-22 13:55] jnehring commented on #161
[This API call ](https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.&nif-version=2.0) uses nif-version=2.0 and does not produce a datatype for nif:isString. When I set nif-version=2.1 then it produces the datatype.

@m1ci Is this behaviour correct? I think it should

[2016-11-22 14:02] m1ci commented on #161
you are right, there is no datatype for nif:isString. Sorry. I was specifying wrong nif version.

[2016-11-22 14:03] jnehring commented on #161
@sandroacoelho can you fix this until tomorrow? It would be nice to have the bug fixed before the release.

[2016-11-22 14:04] sandroacoelho commented on #161
Sure. I will do it.

[2016-11-23 04:10] sandroacoelho commented on #161
Hi @m1ci , @jnehring

Issue fixed. The problem was at [FREMECommon](https://github.com/freme-project/FREMECommon/commit/a5a7307793bcb89261552b3ac550a4585d789b0f).

Best,

[2016-11-23 09:45] m1ci commented on #161
thanks @sandroacoelho

[2016-11-23 16:31] fsasaki opened #164 "linking method produces error"
Request is

I get

  "exception": "eu.freme.common.exception.ExternalServiceFailedException",
  "path": "/e-entity/freme-ner/documents",
  "message": "We apologise for some inconvenience, but seems that the server is to busy too answer your request. Could you please try again in some minutes? Thanks ",
  "error": "Bad Gateway",
  "status": 502,
  "timestamp": 1479918515166
}

with the mode "all" t

[2016-11-24 08:21] jnehring opened #165 "Request does not finish"
http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&mode=link&input=Wild+Atlantic+Way&outformat=turtle

It loads for a long time but never finishes and produces no result.

It used to work before, see #129

Probably this is the same error as #164

[2016-11-24 08:25] jnehring commented on #164
The behaviour is different when I try the request: The request takes forever and does never finish. But I get a bug also.

[2016-11-24 09:30] jnehring commented on #163
I think this is fixed on live also. @pheyvaer please check and close the issue when it is solved.

[2016-11-24 09:31] jnehring commented on #161
fixed on live through the release

[2016-11-24 09:32] jnehring commented on #162
This is fixed on freme-live through the release

[2016-11-24 09:32] #162 closed

[2016-11-24 09:35] jnehring commented on #160
I tested and this is installed on freme-live also. The documentation issue is moved to https://github.com/freme-project/freme-project.github.io/issues/320 . So this issue is done

[2016-11-24 09:35] #160 closed

[2016-11-24 11:16] pheyvaer commented on #163
No, this is what I get.

[code]
Now, it even did NER on the information that is in `<head>`.

[2016-11-24 12:28] jnehring commented on #163
It looks more like it strips the content of the head.

Is this critical for the SWIB conference?

[2016-11-24 12:30] pheyvaer commented on #163
Only if people actually try this ;)

[2016-11-25 05:19] sandroacoelho commented on #165
Hi @jnehring ,

The bug was in our [NIFParser](https://github.com/NLP2RDF/NIF-lib/blob/0.3/src/main/java/org/nlp2rdf/parser/NIFParser.java#L29) . I fixed it, so could you please update our FREME-DEV/Live?

Btw, it solves our #164 issue

Thanks,

[2016-11-25 06:19] fsasaki commented on #165
I now get with this requets

 curl -X POST --header 'Content-Type: text/plain' --header 'Accept:
text/turtle' -d 'Berlin' '
https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all
'

the following error

{ "exception":
"eu.freme.bservices.filter.proxy.exception.BadGatewayException", "path":
"/e-entity/freme-ner/documents", "message": "Proxy failed

[2016-11-25 10:01] borriellom commented on #165
I'm getting the same error on both dev and live versions. Any news on this?

[2016-11-25 10:17] katia-vistatec commented on #163
I was trying to check this but I got an error (the same as in https://github.com/freme-project/freme-ner/issues/165)

[2016-11-25 10:24] fsasaki commented on #163
This also influences other demos, it breaks e.g. call of e-Entity at
https://api.freme-project.eu/ckeditor/ckeditor/samples/freme.html
probably also in relation to https://github.com/freme-project/freme-ner/issues/165

[2016-11-25 10:25] fsasaki commented on #165
@m1ci and @sandroacoelho , do you see a way to solve this without Jan? It seems the bug influences other demos as well, also without the use of the link mode. See

https://github.com/freme-project/freme-ner/issues/163#issuecomment-262924453

[2016-11-25 10:36] fsasaki commented on #165
Actually all demos using FREME-NER seem to fail now, see e.g. also
https://freme-project.github.io/freme-showcase/ease-of-adaption.html

[2016-11-25 12:14] sandroacoelho commented on #163
Hi @fsasaki ,@pheyvaer, @katia-vistatec

The FREME-NER was not running on the server. I have started it right now and will check why the process has stopped . Could please check if it is ok now?

Thanks,

[2016-11-25 12:18] katia-vistatec commented on #163
I get the same error:

{
  "exception": "eu.freme.bservices.filter.proxy.exception.BadGatewayException",
  "path": "/e-entity/freme-ner/documents",
  "message": "Proxy failed: org.apache.http.conn.HttpHostConnectException: Connect to rv2622.1blu.de:7001 [rv2622.1blu.de/178.254.20.8] failed: Connection refused",
  "error": "Bad Gateway",
  "status": 502,
  "timestamp": 1480076239909
}

[2016-11-25 12:24] pheyvaer commented on #163
The example that I initially posted works now.

[2016-11-25 12:27] sandroacoelho commented on #163
Thank you @pheyvaer.

@katia-vistatec : rv2622.1blu.de:7001  is freme-ner-dev. I started now. Could you please check again?

[2016-11-25 12:29] fsasaki commented on #163
The call to FREME NER with type "all" works now, with "link" it still does
not work, see the request below.

 curl -X POST --header 'Content-Type: text/plain' --header 'Accept:
text/turtle' -d 'Berlin' '
https://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=link
'

2016-11-25 13:14 GMT+01:00 Sandro <notifications@github.com>:

[2016-11-25 12:29] sandroacoelho commented on #165
@borriellom @fsasaki The FREME-NER was not running on the server. I have started it right now and will check why the process has stopped . Could please check if it is ok now?

[2016-11-25 12:31] sandroacoelho commented on #163
@fsasaki : I will try update with "link" option. Give me 10 minutes more.

[2016-11-25 12:35] katia-vistatec commented on #163
Also for me it is working (mode spot).

[2016-11-25 12:49] sandroacoelho commented on #163
@fsasaki : mode spot, link, classify enabled in FREME-NER dev. Could you please test again?

Thanks

[2016-11-25 12:49] sandroacoelho commented on #164
@fsasaki : mode spot, link, classify enabled in FREME-NER dev. Could you please test again?

Thanks

[2016-11-25 12:55] fsasaki commented on #163
Works, thanks a lot!

2016-11-25 13:49 GMT+01:00 Sandro <notifications@github.com>:

[2016-11-25 12:56] fsasaki commented on #165
works, thanks!

2016-11-25 13:29 GMT+01:00 Sandro <notifications@github.com>:

[2016-11-25 12:57] fsasaki commented on #164
it works on FREME dev. On live it does not yet work. Should we keep this open for FREME live? @jnehring

[2016-11-25 14:30] borriellom commented on #165
Yes, it works now. Thanks!!!

[2016-11-29 08:31] jnehring commented on #165
Thanks for the fix! This bug is fixed on freme-dev but not on freme-live. I will leave the issue open to check if is fixed after the next release.

[2016-11-29 08:32] jnehring commented on #164
I will leave the issue open to check again after next release if it is also fixed on live.

[2016-11-29 08:35] jnehring commented on #163
This is fixed. It works on live also, although there was no release. So I close the issue.

[2016-11-29 08:35] #163 closed

[2016-11-29 10:22] sandroacoelho opened #166 "IAB Mapping"
- [x] Convert XLS to domains.csv
- [x] Enrich with all subClasses

[2016-11-29 10:23] sandroacoelho commented on #166
HI @m1ci ,

I am enriching the file with all subClasses. I need two hours to finished it.

[2016-11-30 11:38] sandroacoelho commented on #166
Hi @koidl,

The first step for IAB mappings with all domains that you have sent to us is available in FREME-NER dev.

Best,

[2016-12-02 12:52] xFran opened #167 "Single quote spotted as entity"
This is the content file:
[freme.txt](https://github.com/freme-project/freme-ner/files/627158/freme.txt)

cURL:

[code]

And this is the problem:

[code]

[2016-12-02 12:59] xFran opened #168 ""•" Dot spotted as entity"
File:
[freme.txt](https://github.com/freme-project/freme-ner/files/627170/freme.txt)

cUrl:

[code]

The problem

[code]

[2016-12-02 13:11] xFran opened #169 ""|" Spotted as entity"
Text file:
[freme.txt](https://github.com/freme-project/freme-ner/files/627184/freme.txt)

cUrl:

[code]

The issue:

[code]

[2016-12-15 10:12] jnehring commented on #164
The bug is fixed on dev, but even after the release the curl request does not work on freme-live.

[2016-12-15 10:22] m1ci commented on #164
Can you try to do the same what Sandro did for FREME dev -> enable spot, link, classify

[2016-12-15 11:02] jnehring commented on #164
What should I do exactly? Is this a configuration option?

[2016-12-15 11:03] jnehring commented on #164
Hm... actually I think I did not release freme-ner. Maybe this is the issue.

[2017-01-12 13:56] jnehring commented on #164
The problem still happens on freme-live although I released FREME ner.

[2017-01-12 13:57] jnehring commented on #165
The problem still exists on freme-live and it is fixed on freme-dev. Meanwhile I have released all parts of freme.

[2017-01-13 09:56] sandroacoelho opened #170 "Missing annotations on NIF service response"
@Gustavo Publio says:

Hi all,

  As you may already know, we are using the FREME NIF service API to annotate some Dutch texts.

  But we found out that the service is missing some annotations.

  For instance:

We are using the dataset sbr2 that I've already uploaded into the service
This dataset contains, among other terms, several references to the term "ankerloze spouwmuur":
[code]
Even so, if

[2017-01-13 12:08] fsasaki commented on #170
Hi all, this may be related to the moving of the FREME framework installations to the Adapt centre. I assume that the moving does not include data sets that are currently being uploaded. @jnehring can maybe say more (he will be back next week, I assume).

[2017-01-13 13:49] sandroacoelho commented on #170
Hi @fsasaki , Thank you

[2017-01-16 00:40] #166 closed

[2017-01-16 12:53] jnehring commented on #170
NER consists of spot, classify and link. The dataset you provided only adds the term "ankerloze spouwmuur" to the linking phase. Maybe the term is not recognized by entity spotting? Or it is wrongly classified?

Also you specified input format = plaintext. But the text you submitted does not look like plaintext. You can experiment with different input formats, maybe XML is a better choice?

If you

[2017-01-16 13:03] sandroacoelho commented on #170
Hi @jnehring, I have answered @Gustavo with the same explanation on last sunday. Thanks for your answer

[2017-01-16 13:03] #170 closed

[2017-01-18 12:34] m1ci commented on #34
this is not a critical issue for FREME 1.0 and will be left open for future development.

[2017-01-18 12:41] m1ci commented on #44
left open for future development

[2017-01-18 12:42] m1ci commented on #63
inactive issue, closing it

[2017-01-18 12:42] #63 closed

[2017-01-18 12:42] m1ci commented on #72
inactive issue, closing it

[2017-01-18 12:42] #72 closed

[2017-01-18 12:43] m1ci commented on #112
the issue is fixed, and there is no active discussion, closing the issue

[2017-01-18 12:43] #112 closed

[2017-01-18 12:44] m1ci commented on #153
the issue is fixed, licensing info has been collected and documented. closing the issue

[2017-01-18 12:44] #153 closed

[2017-01-18 12:46] m1ci commented on #165
http://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&mode=link&input=Wild+Atlantic+Way&outformat=turtle
works and the issue is fixed on freme live

[2017-01-18 12:46] #165 closed

[2017-01-18 12:46] m1ci commented on #164
works, the issue is fixed, closing the issue

[2017-01-18 12:46] #164 closed

[2017-01-18 12:47] m1ci commented on #132
no active discussion, closing the issue.

[2017-01-18 12:47] #132 closed

[2017-01-18 12:48] m1ci commented on #167
this happens due to the unclean nature of the content. FREME NER expects "clean" content with text with regular sentences (to some extend).

[2017-01-18 12:48] m1ci commented on #167
leaving the issue open for possible further developements.

[2017-01-18 12:49] m1ci commented on #156
unimportant issue, leaving the issue open for possible further developments.

[2017-01-18 12:50] m1ci commented on #169
this happens due to the unclean nature of the content. FREME NER expects "clean" content with text with regular sentences (to some extent).

Leaving the issue open for possible further developments.

[2017-01-18 12:50] m1ci commented on #168
this happens due to the unclean nature of the content. FREME NER expects "clean" content with text with regular sentences (to some extent).

Leaving the issue open for possible further developments.

[2017-01-18 15:10] kurzum opened #171 "Missing annotations on NIF service response"
Hi guys,
so the error is simple and legit:
# Terms.nt
We uploaded the terms.nt as SBR2 and it seems to have been uploaded correctly. We attached the terms.nt file, wich contains this line:
`<http://data.sbrcurnet/Referentiedetail/204.4.2.01> <http://www.w3.org/2004/02/skos/core#prefLabel> "ankerloze spouwmuur"@nl .`

[terms.nt.zip](https://github.com/freme-project/freme-ner/files/714215/terms.nt.z

[2017-01-18 15:16] kurzum commented on #171
Ah yes, the services provides blank nodes (with no further properties) as a result of the matching. DBpedia NL is working fine

[code]

[2017-01-18 15:17] kurzum commented on #171
for the whole text corpus (10 texts) we recieve 212 of these erroneous matches
[code]

[2017-01-18 15:26] jnehring opened #172 "FREME NER understands English only"
I think FREME NER has loaded the English language model only. Please do this:

1) Download all language models from here: http://api.freme-project.eu/datasets/ner-trained-models/wikiner/ . Copy the models to /home/francisc/freme-install/freme-ner-models
(there is no model for German in the download. The German model is stored somewhere else and is always available)

2) Change the application.prope

[2017-01-18 15:32] jnehring commented on #161
The bug happens also when the prefix parameter is specified:

curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: 6da7f638-ac30-79e5-d80f-e7d44c530f5" -d 'Welcome to Europe!' "http://rv1443.1blu.de/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&informat=text&prefix=http://hello.de"

[code]